Nodered/flows.json
[{"id":"690c748c.979aac","type":"tab","label":"BBDD","disabled":false,"info":""},{"id":"e15cad1.5413b5","type":"tab","label":"Vacas","disabled":false,"info":""},{"id":"458a31c0.fce1b","type":"tab","label":"Granja","disabled":false,"info":""},{"id":"7f218a69.fd87b4","type":"tab","label":"Camiones","disabled":false,"info":""},{"id":"eb8ada15.b769f8","type":"tab","label":"Fábrica","disabled":false,"info":""},{"id":"10346e99.a55581","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":43,"sy":34,"gx":6,"gy":6,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"1c8adc60.c6bfb4","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":1,"width":8,"height":1},{"id":"bb44a970.38f738","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":2,"width":8,"height":1},{"id":"2985351d.6ca28a","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":3,"width":8,"height":1},{"id":"780b7bd6.1d5214","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":4,"width":8,"height":1},{"id":"7604304f.9ea88","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":5,"width":8,"height":1},{"id":"c27a4830.763028","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":7,"width":1,"height":1},{"id":"66f19e9a.56579","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":9,"width":4,"height":1},{"id":"5833fbfa.18ca14","type":"ui_tab","z":"","name":"Camiones","icon":"local_shipping","order":2,"disabled":false,"hidden":false},{"id":"bceddb04.a25448","type":"ui_group","z":"","name":"Camiones","tab":"5833fbfa.18ca14","order":6,"disp":false,"width":30,"collapse":false},{"id":"a223d88e.58f088","type":"ui_group","z":"","name":"Mapa","tab":"5833fbfa.18ca14","order":1,"disp":false,"width":30,"collapse":false},{"id":"f3fe65ff.5d2948","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"44d4eb5.12e4c14","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"40461770.aa49d8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"65f11444.8eedfc","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"737820ae.2aea6","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"654048e8.2dae58","type":"ui_spacer","name":"spacer","group":"","order":10,"width":25,"height":1},{"id":"db367f9a.41032","type":"ui_spacer","name":"spacer","group":"","order":12,"width":1,"height":1},{"id":"b366501a.6d0a8","type":"ui_spacer","name":"spacer","group":"","order":15,"width":1,"height":1},{"id":"6916d403.24882c","type":"ui_spacer","name":"spacer","group":"","order":16,"width":1,"height":1},{"id":"a297caf2.2bafc8","type":"ui_spacer","name":"spacer","group":"","order":17,"width":1,"height":1},{"id":"a4df28df.17c858","type":"ui_spacer","name":"spacer","group":"","order":19,"width":1,"height":1},{"id":"5b547cba.dde6b4","type":"ui_spacer","name":"spacer","group":"","order":20,"width":25,"height":1},{"id":"3994c78d.0643a8","type":"ui_group","z":"","name":"Granja","tab":"5f4df7a3.278028","order":2,"disp":true,"width":16,"collapse":false},{"id":"e334f504.05c9b8","type":"ui_group","z":"","name":"Granja","tab":"eb2b8511.5494e8","order":2,"disp":true,"width":16,"collapse":false},{"id":"2fa36bea.d6c4a4","type":"ui_group","z":"","name":"Granja","tab":"6084f1aa.652d3","order":2,"disp":true,"width":16,"collapse":false},{"id":"b2f774fd.0e2128","type":"ui_group","z":"","name":"Granja","tab":"55bc8bbc.d1b904","order":2,"disp":true,"width":16,"collapse":false},{"id":"3cf9a344.1eebfc","type":"ui_group","z":"","name":"Granja","tab":"bb72f51c.d9b808","order":2,"disp":true,"width":16,"collapse":false},{"id":"5f4df7a3.278028","type":"ui_tab","z":"","name":"Mas Badosa","icon":"local_florist","order":3,"disabled":false,"hidden":false},{"id":"eb2b8511.5494e8","type":"ui_tab","z":"","name":"Mas Colom","icon":"local_florist","order":4,"disabled":false,"hidden":false},{"id":"6084f1aa.652d3","type":"ui_tab","z":"","name":"Can Siset","icon":"local_florist","order":5,"disabled":false,"hidden":false},{"id":"55bc8bbc.d1b904","type":"ui_tab","z":"","name":"Mas Almar","icon":"local_florist","order":6,"disabled":false,"hidden":false},{"id":"bb72f51c.d9b808","type":"ui_tab","z":"","name":"Mas Gener","icon":"local_florist","order":7,"disabled":false,"hidden":false},{"id":"c356825b.6dc0e","type":"ui_group","z":"","name":"Vacas","tab":"5f4df7a3.278028","order":1,"disp":true,"width":10,"collapse":false},{"id":"5c815c49.edacf4","type":"ui_group","z":"","name":"Vacas","tab":"eb2b8511.5494e8","order":1,"disp":true,"width":10,"collapse":false},{"id":"315b5d5d.e83e02","type":"ui_group","z":"","name":"Vacas","tab":"6084f1aa.652d3","order":1,"disp":true,"width":10,"collapse":false},{"id":"2e9dba87.607d26","type":"ui_group","z":"","name":"Vacas","tab":"bb72f51c.d9b808","order":1,"disp":true,"width":10,"collapse":false},{"id":"26bf9273.cc34ee","type":"ui_group","z":"","name":"Vacas","tab":"55bc8bbc.d1b904","order":1,"disp":true,"width":10,"collapse":false},{"id":"58f3d2a2.4b08bc","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":2,"width":7,"height":1},{"id":"c9d6b96f.6bb658","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":3,"width":7,"height":1},{"id":"1e22571e.f0c689","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":4,"width":7,"height":1},{"id":"80479eaf.e5eea","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":6,"width":1,"height":1},{"id":"fbf632cb.2b72a","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":7,"width":1,"height":1},{"id":"7d3e980d.a0d478","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":8,"width":1,"height":1},{"id":"8b23e81c.4adf58","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":9,"width":1,"height":1},{"id":"ae9330b1.6de3e","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":10,"width":1,"height":1},{"id":"d01c6413.c05a48","type":"ui_spacer","name":"spacer","group":"adb89d5d.3c9a2","order":1,"width":1,"height":1},{"id":"8ac5acd.a18c35","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":3,"width":1,"height":1},{"id":"6d1abdc2.39f1f4","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":6,"width":1,"height":1},{"id":"f2cd6b2f.04b058","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":7,"width":1,"height":1},{"id":"e85cc2ef.2e5ae","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":8,"width":1,"height":1},{"id":"93117513.6e91c8","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":9,"width":1,"height":1},{"id":"ec36712f.0bc03","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":12,"width":1,"height":1},{"id":"73d97a1a.88a994","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":13,"width":1,"height":1},{"id":"b58a2655.153ae8","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":14,"width":1,"height":1},{"id":"bc90caf5.cb5aa8","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":15,"width":1,"height":1},{"id":"5e0326ae.d59a28","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":18,"width":1,"height":1},{"id":"3d7b03c0.93c26c","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":19,"width":1,"height":1},{"id":"549acc70.7116c4","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":20,"width":1,"height":1},{"id":"b7a2a9bc.cf0268","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":21,"width":1,"height":1},{"id":"3f8c13ba.28839c","type":"ui_spacer","name":"spacer","group":"1db31de6.c18872","order":8,"width":4,"height":1},{"id":"ba156e64.bd0b8","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":2,"width":2,"height":1},{"id":"cd87ca90.706388","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":4,"width":2,"height":1},{"id":"7e2a0013.f3143","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":6,"width":2,"height":1},{"id":"f75ab7a.a0fab48","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":8,"width":2,"height":1},{"id":"6843b032.d0043","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":10,"width":2,"height":1},{"id":"b36d37a9.02d188","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":12,"width":2,"height":1},{"id":"4918e62f.8a55c8","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"324360f2.4880a","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"bb2e1d81.301fd","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"e3ce04d5.62ac68","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"d2d6e914.9ae128","type":"ui_spacer","name":"spacer","group":"","order":12,"width":30,"height":1},{"id":"bae05718.366478","type":"ui_spacer","name":"spacer","group":"","order":13,"width":3,"height":1},{"id":"fdd9332b.e199","type":"ui_spacer","name":"spacer","group":"","order":16,"width":8,"height":1},{"id":"fcda5d77.c95b7","type":"ui_spacer","name":"spacer","group":"","order":19,"width":3,"height":1},{"id":"ee6fe20.bc3af2","type":"ui_spacer","name":"spacer","group":"","order":20,"width":3,"height":1},{"id":"98a992d5.91e7b","type":"ui_spacer","name":"spacer","group":"","order":21,"width":8,"height":1},{"id":"1b67ff1b.3649a1","type":"ui_spacer","name":"spacer","group":"","order":22,"width":3,"height":1},{"id":"8b550811.aaf368","type":"ui_spacer","name":"spacer","group":"","order":23,"width":30,"height":1},{"id":"e3b6aee7.246cf","type":"ui_spacer","name":"spacer","group":"","order":24,"width":3,"height":1},{"id":"ce7e5d4d.6d218","type":"ui_spacer","name":"spacer","group":"","order":26,"width":1,"height":1},{"id":"eec4af86.29d14","type":"ui_spacer","name":"spacer","group":"","order":28,"width":4,"height":1},{"id":"b6b7992c.643f68","type":"ui_spacer","name":"spacer","group":"","order":30,"width":1,"height":1},{"id":"ece77769.3bf428","type":"ui_spacer","name":"spacer","group":"","order":32,"width":1,"height":1},{"id":"61c5ee77.c8945","type":"ui_spacer","name":"spacer","group":"","order":33,"width":5,"height":1},{"id":"397d4769.85b4a8","type":"ui_spacer","name":"spacer","group":"","order":35,"width":10,"height":1},{"id":"d6950b1c.848798","type":"ui_spacer","name":"spacer","group":"","order":37,"width":5,"height":1},{"id":"efe0a880.3c7ef8","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":1,"width":4,"height":1},{"id":"1d04d99c.4f3036","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":3,"width":4,"height":1},{"id":"3024bd86.514712","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":4,"width":4,"height":1},{"id":"5d796ae1.54b754","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":5,"width":4,"height":1},{"id":"7a50562e.a11f88","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":6,"width":4,"height":1},{"id":"bab41b3b.7fb4d8","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":7,"width":4,"height":1},{"id":"22457fc6.205f9","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":8,"width":4,"height":1},{"id":"9585021b.52d02","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":9,"width":4,"height":1},{"id":"cc33b8f8.1b0a18","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":10,"width":4,"height":1},{"id":"41a91430.fd5b4c","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":11,"width":4,"height":1},{"id":"f73092f5.5dc14","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":12,"width":4,"height":1},{"id":"a7bb5822.9d4fc8","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":13,"width":4,"height":1},{"id":"52295a05.f34814","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":14,"width":4,"height":1},{"id":"ea74903f.e35cf","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":15,"width":4,"height":1},{"id":"4a841fe6.688f7","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":16,"width":4,"height":1},{"id":"eda2c660.a7bda8","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":17,"width":4,"height":1},{"id":"92ce6872.e295e8","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":18,"width":4,"height":1},{"id":"32ebfe9b.dbf232","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":19,"width":4,"height":1},{"id":"4f2759de.b616f8","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":20,"width":4,"height":1},{"id":"30af2e9b.96bf22","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":21,"width":4,"height":1},{"id":"484e2670.448f98","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":22,"width":4,"height":1},{"id":"49328c64.5e3f54","type":"ui_spacer","name":"spacer","group":"a223d88e.58f088","order":23,"width":4,"height":1},{"id":"9a860538.5ad918","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":1,"width":2,"height":1},{"id":"75241d4d.acd7a4","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":3,"width":2,"height":1},{"id":"c58d3c8.e9200c","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":4,"width":2,"height":1},{"id":"63d56435.ef569c","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":5,"width":2,"height":1},{"id":"91298dfd.b6f21","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":6,"width":2,"height":1},{"id":"ce9ede78.f5fef","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":7,"width":2,"height":1},{"id":"a1d23ffd.28b4e","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":8,"width":2,"height":1},{"id":"6a7b9e0b.04146","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":9,"width":2,"height":1},{"id":"e4eeb25e.a9fe1","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":10,"width":2,"height":1},{"id":"e6164ad1.202d98","type":"ui_spacer","name":"spacer","group":"bceddb04.a25448","order":11,"width":2,"height":1},{"id":"469f5356.1354ac","type":"sqlitedb","z":"","db":"/data/BBDD_RASP","mode":"RWC"},{"id":"9590f092.60bdc","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":1,"width":1,"height":1},{"id":"dd72557f.0056c8","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":4,"width":1,"height":1},{"id":"9a92283.8d9d2d8","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":5,"width":1,"height":1},{"id":"9c941a91.0179e8","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":6,"width":1,"height":1},{"id":"f153f35.4185f1","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":7,"width":1,"height":1},{"id":"eadd58f2.cd8bc8","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":8,"width":1,"height":1},{"id":"690c011a.1f1c","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":9,"width":1,"height":1},{"id":"eb33fed1.da999","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":10,"width":1,"height":1},{"id":"d6b288a9.43b9f8","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":11,"width":1,"height":1},{"id":"f248a66.3ca1458","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":12,"width":1,"height":1},{"id":"be006acf.6e0928","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":13,"width":16,"height":1},{"id":"f0f79683.b56588","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":14,"width":3,"height":1},{"id":"e7e90152.55cbb","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":16,"width":2,"height":1},{"id":"b2e4d14c.41b58","type":"ui_spacer","name":"spacer","group":"2fa36bea.d6c4a4","order":17,"width":16,"height":1},{"id":"453fdfba.09b73","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":1,"width":1,"height":1},{"id":"8db6d044.3409","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":4,"width":1,"height":1},{"id":"991172a3.9721","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":5,"width":1,"height":1},{"id":"b3c3654f.15d848","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":6,"width":1,"height":1},{"id":"59d990e6.bd4b","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":7,"width":1,"height":1},{"id":"a4441c1.b33e9e","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":8,"width":1,"height":1},{"id":"fca8995e.6e1ac8","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":9,"width":1,"height":1},{"id":"1eb1e5d1.9bda1a","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":10,"width":1,"height":1},{"id":"1b6cf7f3.d087e8","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":11,"width":1,"height":1},{"id":"67b500c5.686b1","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":12,"width":1,"height":1},{"id":"8baad3ef.5a8a8","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":13,"width":16,"height":1},{"id":"e131b41a.7af078","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":14,"width":3,"height":1},{"id":"98354fe5.c4057","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":16,"width":2,"height":1},{"id":"7b923405.b2547c","type":"ui_spacer","name":"spacer","group":"3cf9a344.1eebfc","order":17,"width":16,"height":1},{"id":"c608305d.63ab1","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":1,"width":1,"height":1},{"id":"c662b1be.4a5eb","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":4,"width":1,"height":1},{"id":"35e968e2.e1f078","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":5,"width":1,"height":1},{"id":"802d64e7.cd5b78","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":6,"width":1,"height":1},{"id":"34746304.2bf71c","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":7,"width":1,"height":1},{"id":"e9e1176.7ffb4e8","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":8,"width":1,"height":1},{"id":"18565446.60202c","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":9,"width":1,"height":1},{"id":"d9fca79e.8fd6e8","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":10,"width":1,"height":1},{"id":"64681b4c.20a8c4","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":11,"width":1,"height":1},{"id":"5104172.04369e8","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":12,"width":1,"height":1},{"id":"4820a853.6964f8","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":13,"width":16,"height":1},{"id":"f776d174.94c6e","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":14,"width":3,"height":1},{"id":"ea060caa.b64e2","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":16,"width":2,"height":1},{"id":"82b47140.06905","type":"ui_spacer","name":"spacer","group":"e334f504.05c9b8","order":17,"width":16,"height":1},{"id":"17e1ddfe.aa9772","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":1,"width":1,"height":1},{"id":"18090e33.bb1192","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":4,"width":1,"height":1},{"id":"a1664b5d.7bd878","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":5,"width":1,"height":1},{"id":"ed133ea9.0b3b7","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":6,"width":1,"height":1},{"id":"c1b5f11b.bf8fe","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":7,"width":1,"height":1},{"id":"184565b.439ab9a","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":8,"width":1,"height":1},{"id":"9330f6a6.6f32f8","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":9,"width":1,"height":1},{"id":"5ce7a99d.499888","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":10,"width":1,"height":1},{"id":"5be4d95.cd2c528","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":11,"width":1,"height":1},{"id":"cb5b1d24.3a4fe","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":12,"width":1,"height":1},{"id":"9e3348a2.0ecb58","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":13,"width":16,"height":1},{"id":"ff587954.60b408","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":14,"width":3,"height":1},{"id":"310c28a1.9d4788","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":16,"width":2,"height":1},{"id":"bd7368e6.9148f8","type":"ui_spacer","name":"spacer","group":"3994c78d.0643a8","order":17,"width":16,"height":1},{"id":"55977356.7bf2dc","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":1,"width":1,"height":1},{"id":"168bf273.d01b2e","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":4,"width":1,"height":1},{"id":"f684236b.3a836","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":5,"width":1,"height":1},{"id":"1baafdf8.2f0ea2","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":6,"width":1,"height":1},{"id":"5946bd2.6ff3444","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":7,"width":1,"height":1},{"id":"b9db8550.105d58","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":8,"width":1,"height":1},{"id":"94af3a52.2c6648","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":9,"width":1,"height":1},{"id":"3ed0b828.095288","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":10,"width":1,"height":1},{"id":"e1c14a97.9b7a58","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":11,"width":1,"height":1},{"id":"dc913807.24b8c8","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":12,"width":1,"height":1},{"id":"3c40f002.e4f72","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":13,"width":16,"height":1},{"id":"96887d4.6916d8","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":14,"width":3,"height":1},{"id":"d2108fce.9fb48","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":16,"width":2,"height":1},{"id":"c7878c3a.384bc","type":"ui_spacer","name":"spacer","group":"b2f774fd.0e2128","order":17,"width":16,"height":1},{"id":"c56ea77d.af1a18","type":"ui_group","z":"","name":"Group 1","tab":"3eca0a21.1df606","order":1,"disp":false,"width":"30","collapse":false},{"id":"3eca0a21.1df606","type":"ui_tab","z":"","name":"Fabrica","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"162a6c56.6e3064","type":"ui_group","z":"","name":"","tab":"836defc8.d36bc","disp":true,"width":"28","collapse":false},{"id":"716cdcf8.abd034","type":"telegram bot","z":"","botname":"SPMaker_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"836defc8.d36bc","type":"ui_tab","z":"","name":"Cam & Banner","icon":"camera_enhanced","order":2,"disabled":false,"hidden":false},{"id":"dc4ac78d.a31898","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":2,"width":1,"height":1},{"id":"66a953d8.bca60c","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":4,"width":3,"height":1},{"id":"bb463a03.90a038","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":7,"width":2,"height":1},{"id":"ffe49444.1741e8","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":10,"width":1,"height":1},{"id":"145674a2.d59a9b","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":11,"width":3,"height":1},{"id":"ee55fe0b.e0806","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":12,"width":2,"height":1},{"id":"69b7ffa.2a755","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":13,"width":1,"height":1},{"id":"f4bd9c38.f215b","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":14,"width":3,"height":1},{"id":"5216b341.0e3c9c","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":15,"width":2,"height":1},{"id":"b85da43e.355258","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":17,"width":1,"height":1},{"id":"8234fad1.7cfc48","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":19,"width":21,"height":1},{"id":"1d73e24f.17cf7e","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":20,"width":30,"height":1},{"id":"e9f79ced.77a","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":23,"width":1,"height":1},{"id":"287abed.04d6b42","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":25,"width":2,"height":1},{"id":"45b4bd5e.444b04","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":26,"width":1,"height":1},{"id":"48d4bc20.863d84","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":28,"width":2,"height":1},{"id":"53ce5ebe.08e45","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":29,"width":1,"height":1},{"id":"327cfa53.99add6","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":31,"width":2,"height":1},{"id":"8b7049d5.fa4b88","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":32,"width":1,"height":1},{"id":"8aea2668.42a858","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":34,"width":2,"height":1},{"id":"2452284c.6c3bf8","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":35,"width":1,"height":1},{"id":"932b8c7b.947e7","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":37,"width":2,"height":1},{"id":"bec37613.b64ff8","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":38,"width":1,"height":1},{"id":"3b48f22e.04f43e","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":40,"width":2,"height":1},{"id":"efc172d4.a5a6d","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":41,"width":1,"height":1},{"id":"3f034fd7.d6475","type":"ui_spacer","name":"spacer","group":"c56ea77d.af1a18","order":43,"width":2,"height":1},{"id":"96de60c1.5bb4e","type":"function","z":"e15cad1.5413b5","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"mas_colom\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[44].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":520,"y":1060,"wires":[["2c209370.930d2c"],["2c209370.930d2c"]]},{"id":"a8bb08db.6986a8","type":"function","z":"e15cad1.5413b5","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"mas_badosa\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[49].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":520,"y":160,"wires":[["970e68d0.480e88"],["970e68d0.480e88"]]},{"id":"e110ffbf.0a007","type":"function","z":"e15cad1.5413b5","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"mas_gener\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[39].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":1840,"y":580,"wires":[["373d0c1c.4533a4"],["373d0c1c.4533a4"]]},{"id":"4cc3860b.83e778","type":"function","z":"e15cad1.5413b5","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"can_siset\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[41].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":1840,"y":160,"wires":[["6421dc50.6b7a54"],["6421dc50.6b7a54"]]},{"id":"26229118.bd5a1e","type":"function","z":"e15cad1.5413b5","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"mas_almar\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[51].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":540,"y":600,"wires":[["5ea2f55b.bbcdac"],["5ea2f55b.bbcdac"]]},{"id":"213fc298.9c821e","type":"worldmap in","z":"e15cad1.5413b5","name":"","path":"/map/mas_gener_","events":"","x":1440,"y":580,"wires":[["e110ffbf.0a007"]]},{"id":"af67f751.45e6a8","type":"worldmap in","z":"e15cad1.5413b5","name":"","path":"/map/mas_colom_","events":"","x":130,"y":1060,"wires":[["96de60c1.5bb4e"]]},{"id":"5cecbba6.0ca604","type":"worldmap in","z":"e15cad1.5413b5","name":"","path":"/map/mas_badosa_","events":"","x":150,"y":160,"wires":[["a8bb08db.6986a8"]]},{"id":"2429c5b0.21b74a","type":"worldmap in","z":"e15cad1.5413b5","name":"","path":"/map/can_siset_","events":"","x":1460,"y":160,"wires":[["4cc3860b.83e778"]]},{"id":"d4c85b58.456a18","type":"worldmap in","z":"e15cad1.5413b5","name":"","path":"/map/mas_almar_","events":"","x":140,"y":600,"wires":[["26229118.bd5a1e"]]},{"id":"970e68d0.480e88","type":"ui_worldmap","z":"e15cad1.5413b5","group":"c356825b.6dc0e","order":1,"width":10,"height":14,"name":"Mas Badosa","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_badosa_","x":970,"y":160,"wires":[]},{"id":"6421dc50.6b7a54","type":"ui_worldmap","z":"e15cad1.5413b5","group":"315b5d5d.e83e02","order":1,"width":10,"height":14,"name":"Can Siset","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/can_siset_","x":2280,"y":160,"wires":[]},{"id":"5ea2f55b.bbcdac","type":"ui_worldmap","z":"e15cad1.5413b5","group":"26bf9273.cc34ee","order":1,"width":10,"height":14,"name":"Mas Almar","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_almar_","x":970,"y":600,"wires":[]},{"id":"373d0c1c.4533a4","type":"ui_worldmap","z":"e15cad1.5413b5","group":"2e9dba87.607d26","order":1,"width":10,"height":14,"name":"Mas Gener","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/map/mas_gener_","x":2290,"y":580,"wires":[]},{"id":"1a90d49f.0c9c5b","type":"ui_chart","z":"458a31c0.fce1b","name":"","group":"3994c78d.0643a8","order":18,"width":16,"height":7,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":120,"wires":[[]]},{"id":"7a58f70d.3b0c88","type":"comment","z":"458a31c0.fce1b","name":"Mas Badosa","info":"","x":90,"y":40,"wires":[]},{"id":"ca401355.45c16","type":"ui_gauge","z":"458a31c0.fce1b","name":"Temp Cuba","group":"3994c78d.0643a8","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":555,"y":160,"wires":[],"l":false},{"id":"65fc15ac.63577c","type":"ui_gauge","z":"458a31c0.fce1b","name":"Litros Cuba","group":"3994c78d.0643a8","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":555,"y":200,"wires":[],"l":false},{"id":"e0c1349f.1a0a08","type":"ui_switch","z":"458a31c0.fce1b","name":"Ventilador","label":"<b><font size = 6>Estado Ventilador: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me to turn on/off","group":"3994c78d.0643a8","order":15,"width":11,"height":1,"passthru":false,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":555,"y":260,"wires":[["163396a7.8fc4e9","76f3de8.64af12"]],"l":false},{"id":"46a36d87.f578b4","type":"ui_toast","z":"458a31c0.fce1b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":770,"y":60,"wires":[[]]},{"id":"963b4261.1c557","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["76f3de8.64af12"]]},{"id":"d35a0a07.b14108","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":280,"wires":[["76f3de8.64af12"]]},{"id":"163396a7.8fc4e9","type":"debug","z":"458a31c0.fce1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":260,"wires":[]},{"id":"4b50b91d.273d58","type":"switch","z":"458a31c0.fce1b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":60,"wires":[["46a36d87.f578b4"]]},{"id":"d4f76b13.53dca8","type":"inject","z":"458a31c0.fce1b","name":"Litros Cuba","topic":"","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":200,"wires":[["65fc15ac.63577c"]]},{"id":"6c2aa7e7.ae4968","type":"inject","z":"458a31c0.fce1b","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":160,"wires":[["ca401355.45c16"]]},{"id":"ba513405.5ef7c8","type":"comment","z":"458a31c0.fce1b","name":"Mas Colom","info":"","x":90,"y":440,"wires":[]},{"id":"86d3fca1.c934a","type":"ui_chart","z":"458a31c0.fce1b","name":"","group":"e334f504.05c9b8","order":18,"width":16,"height":7,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":540,"wires":[[]]},{"id":"6c6e38a2.6d6e88","type":"ui_gauge","z":"458a31c0.fce1b","name":"","group":"e334f504.05c9b8","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":575,"y":580,"wires":[],"l":false},{"id":"71e04d37.4a1894","type":"ui_gauge","z":"458a31c0.fce1b","name":"","group":"e334f504.05c9b8","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":575,"y":620,"wires":[],"l":false},{"id":"e75b33f5.c3364","type":"ui_switch","z":"458a31c0.fce1b","name":"Ventilador","label":"<b><font size = 6>Estado Ventilador: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me to turn on/off","group":"e334f504.05c9b8","order":15,"width":11,"height":1,"passthru":false,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":575,"y":680,"wires":[["b00d8d47.62e58","3e3302ae.6d72ce"]],"l":false},{"id":"f4dfcec4.d516f","type":"ui_toast","z":"458a31c0.fce1b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":850,"y":500,"wires":[[]]},{"id":"b00d8d47.62e58","type":"debug","z":"458a31c0.fce1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":680,"wires":[]},{"id":"db93e33e.a7721","type":"switch","z":"458a31c0.fce1b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":500,"wires":[["f4dfcec4.d516f"]]},{"id":"2be83c81.c0e5c4","type":"comment","z":"458a31c0.fce1b","name":"Can Siset","info":"","x":80,"y":840,"wires":[]},{"id":"2879a7b0.db86c8","type":"ui_chart","z":"458a31c0.fce1b","name":"","group":"2fa36bea.d6c4a4","order":18,"width":16,"height":7,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":940,"wires":[[]]},{"id":"da0cf5b3.60d188","type":"ui_gauge","z":"458a31c0.fce1b","name":"","group":"2fa36bea.d6c4a4","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":575,"y":980,"wires":[],"l":false},{"id":"77ff990b.9d6468","type":"ui_gauge","z":"458a31c0.fce1b","name":"","group":"2fa36bea.d6c4a4","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":575,"y":1020,"wires":[],"l":false},{"id":"3854832c.171e5c","type":"ui_switch","z":"458a31c0.fce1b","name":"Ventilador","label":"<b><font size = 6>Estado Ventilador: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me to turn on/off","group":"2fa36bea.d6c4a4","order":15,"width":11,"height":1,"passthru":false,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":575,"y":1080,"wires":[["fbd42901.a6cb18","882e14d0.d8c178"]],"l":false},{"id":"4351d81a.b279e8","type":"ui_toast","z":"458a31c0.fce1b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":850,"y":900,"wires":[[]]},{"id":"fbd42901.a6cb18","type":"debug","z":"458a31c0.fce1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1080,"wires":[]},{"id":"3595db1a.eb5714","type":"switch","z":"458a31c0.fce1b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":900,"wires":[["4351d81a.b279e8"]]},{"id":"ced31a01.564b48","type":"comment","z":"458a31c0.fce1b","name":"Mas Almar ","info":"","x":80,"y":1240,"wires":[]},{"id":"c7e30479.838ed8","type":"ui_chart","z":"458a31c0.fce1b","name":"","group":"b2f774fd.0e2128","order":18,"width":16,"height":7,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":1320,"wires":[[]]},{"id":"f7c7f9fd.f7fe58","type":"ui_gauge","z":"458a31c0.fce1b","name":"","group":"b2f774fd.0e2128","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":555,"y":1360,"wires":[],"l":false},{"id":"f1f26b83.bb29e8","type":"ui_gauge","z":"458a31c0.fce1b","name":"","group":"b2f774fd.0e2128","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":555,"y":1400,"wires":[],"l":false},{"id":"8ed6e712.3815a8","type":"ui_switch","z":"458a31c0.fce1b","name":"Ventilador","label":"<b><font size = 6>Estado Ventilador: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me to turn on/off","group":"b2f774fd.0e2128","order":15,"width":11,"height":1,"passthru":false,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":555,"y":1460,"wires":[["80f1d9a4.73a0a8","c3405047.4fcb5"]],"l":false},{"id":"dfdd5f42.13fb6","type":"ui_toast","z":"458a31c0.fce1b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":830,"y":1280,"wires":[[]]},{"id":"80f1d9a4.73a0a8","type":"debug","z":"458a31c0.fce1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":1460,"wires":[]},{"id":"7313a259.0b026c","type":"switch","z":"458a31c0.fce1b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1280,"wires":[["dfdd5f42.13fb6"]]},{"id":"32593184.440dee","type":"comment","z":"458a31c0.fce1b","name":"Mas Gener","info":"","x":80,"y":1620,"wires":[]},{"id":"f47af16a.6c094","type":"ui_chart","z":"458a31c0.fce1b","name":"","group":"3cf9a344.1eebfc","order":18,"width":16,"height":7,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":1720,"wires":[[]]},{"id":"4f91fd14.152ba4","type":"ui_gauge","z":"458a31c0.fce1b","name":"","group":"3cf9a344.1eebfc","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":575,"y":1760,"wires":[],"l":false},{"id":"2b655521.f0a41a","type":"ui_gauge","z":"458a31c0.fce1b","name":"","group":"3cf9a344.1eebfc","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":575,"y":1800,"wires":[],"l":false},{"id":"7e7ffa35.9840e4","type":"ui_switch","z":"458a31c0.fce1b","name":"Ventilador","label":"<b><font size = 6>Estado Ventilador: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me to turn on/off","group":"3cf9a344.1eebfc","order":15,"width":11,"height":1,"passthru":false,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":575,"y":1860,"wires":[["b58591d.5fdde7","62fece06.0478d"]],"l":false},{"id":"8b09ffbc.9bea7","type":"ui_toast","z":"458a31c0.fce1b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":850,"y":1680,"wires":[[]]},{"id":"b58591d.5fdde7","type":"debug","z":"458a31c0.fce1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":1860,"wires":[]},{"id":"90a7114f.6af43","type":"switch","z":"458a31c0.fce1b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1680,"wires":[["8b09ffbc.9bea7"]]},{"id":"2c209370.930d2c","type":"ui_worldmap","z":"e15cad1.5413b5","group":"5c815c49.edacf4","order":1,"width":10,"height":14,"name":"Mas Colom","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_colom_","x":970,"y":1060,"wires":[]},{"id":"294bcf2c.6edab","type":"inject","z":"458a31c0.fce1b","name":"Temp Granja","topic":"Mas Badosa","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":120,"wires":[["a0733deb.9f29c"]]},{"id":"e4d6bb37.ab39d8","type":"inject","z":"458a31c0.fce1b","name":"Litros Cuba","topic":"","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":620,"wires":[["71e04d37.4a1894"]]},{"id":"7abe1985.121e98","type":"inject","z":"458a31c0.fce1b","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":580,"wires":[["6c6e38a2.6d6e88"]]},{"id":"346b238a.01679c","type":"inject","z":"458a31c0.fce1b","name":"Litros Cuba","topic":"","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":1020,"wires":[["77ff990b.9d6468"]]},{"id":"598e66b4.b0a758","type":"inject","z":"458a31c0.fce1b","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":980,"wires":[["da0cf5b3.60d188"]]},{"id":"9fcb88b3.ce6388","type":"inject","z":"458a31c0.fce1b","name":"Litros Cuba","topic":"","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":1400,"wires":[["f1f26b83.bb29e8"]]},{"id":"76349242.7073bc","type":"inject","z":"458a31c0.fce1b","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":1360,"wires":[["f7c7f9fd.f7fe58"]]},{"id":"37935e81.8f0672","type":"inject","z":"458a31c0.fce1b","name":"Litros Cuba","topic":"","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":1800,"wires":[["2b655521.f0a41a"]]},{"id":"a4a05126.4abe5","type":"inject","z":"458a31c0.fce1b","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":1760,"wires":[["4f91fd14.152ba4"]]},{"id":"a3ad37cc.1bb0d8","type":"comment","z":"e15cad1.5413b5","name":"Mas Badosa","info":"","x":90,"y":100,"wires":[]},{"id":"f2477766.7ece38","type":"comment","z":"e15cad1.5413b5","name":"Mas Almar","info":"","x":80,"y":540,"wires":[]},{"id":"7275ba47.cd2e84","type":"comment","z":"e15cad1.5413b5","name":"Mas Colom","info":"","x":90,"y":1000,"wires":[]},{"id":"59842bb4.13c8f4","type":"comment","z":"e15cad1.5413b5","name":"Can Siset","info":"","x":1400,"y":100,"wires":[]},{"id":"99d47364.b21a8","type":"comment","z":"e15cad1.5413b5","name":"Mas Gener","info":"","x":1400,"y":520,"wires":[]},{"id":"47e81110.286b9","type":"inject","z":"e15cad1.5413b5","name":"","topic":"mas_colom","payload":"45","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":1120,"wires":[["9f8bacd1.3212","5fdfa61c.949fe8"]]},{"id":"b00b08dc.be0068","type":"function","z":"e15cad1.5413b5","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1120,"wires":[["c4f477d7.2493f8"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"9f8bacd1.3212","type":"function","z":"e15cad1.5413b5","name":"show vacas","func":"var granja = flow.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1120,"wires":[["b00b08dc.be0068"]]},{"id":"c4f477d7.2493f8","type":"function","z":"e15cad1.5413b5","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = flow.get(msg.topic)\n\ngranja.vacas = cows\n\nflow.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1120,"wires":[["2c209370.930d2c"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"c6f50af.14dcef8","type":"inject","z":"e15cad1.5413b5","name":"","topic":"mas_almar","payload":"52","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":660,"wires":[["681a21fe.92df2","25c1bd06.76c892"]]},{"id":"9a8846a4.8b82d8","type":"function","z":"e15cad1.5413b5","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["2ada21b1.65a54e"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"681a21fe.92df2","type":"function","z":"e15cad1.5413b5","name":"show vacas","func":"var granja = flow.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":660,"wires":[["9a8846a4.8b82d8"]]},{"id":"2ada21b1.65a54e","type":"function","z":"e15cad1.5413b5","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = flow.get(msg.topic)\n\ngranja.vacas = cows\n\nflow.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":660,"wires":[["5ea2f55b.bbcdac"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"bfe6effa.8db6c","type":"inject","z":"e15cad1.5413b5","name":"","topic":"can_siset","payload":"42","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1450,"y":220,"wires":[["e4788527.4296b8","a7279809.94a078"]]},{"id":"c80dd6ba.9a96a8","type":"function","z":"e15cad1.5413b5","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":220,"wires":[["9e946766.23b188"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"e4788527.4296b8","type":"function","z":"e15cad1.5413b5","name":"show vacas","func":"var granja = flow.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":220,"wires":[["c80dd6ba.9a96a8"]]},{"id":"9e946766.23b188","type":"function","z":"e15cad1.5413b5","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = flow.get(msg.topic)\n\ngranja.vacas = cows\n\nflow.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":220,"wires":[["6421dc50.6b7a54"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"4d04f270.8355fc","type":"inject","z":"e15cad1.5413b5","name":"","topic":"mas_gener","payload":"40","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1440,"y":640,"wires":[["844cad66.6bed8","5fc54e95.c804b"]]},{"id":"7bb05950.c59aa8","type":"function","z":"e15cad1.5413b5","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":640,"wires":[["cff91c60.3b35f"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"844cad66.6bed8","type":"function","z":"e15cad1.5413b5","name":"show vacas","func":"var granja = flow.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":640,"wires":[["7bb05950.c59aa8"]]},{"id":"cff91c60.3b35f","type":"function","z":"e15cad1.5413b5","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = flow.get(msg.topic)\n\ngranja.vacas = cows\n\nflow.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":640,"wires":[["373d0c1c.4533a4"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"282ac6c8.16798a","type":"inject","z":"e15cad1.5413b5","name":"","topic":"mas_badosa","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":220,"wires":[["d070a939.146918","d05c10b6.89e56"]]},{"id":"64282508.92f05c","type":"function","z":"e15cad1.5413b5","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;\n\n\n /*\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        //var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n        //if (intersect) inside = !inside;\n        inside = !inside;\n    }  \n    if (inside) msg.payload.points.push([random_x, random_y]);\n    // msg.payload.points.push([random_x, random_y]);\n    \n    */","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["6b85ec0c.dfcb34"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"d070a939.146918","type":"function","z":"e15cad1.5413b5","name":"show vacas","func":"var granja = flow.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["64282508.92f05c"]]},{"id":"89576a7a.962148","type":"xml","z":"e15cad1.5413b5","name":"","property":"payload","attr":"","chr":"","x":530,"y":1640,"wires":[["8d97e8ea.9111c8"]]},{"id":"3285aed8.11fc92","type":"file in","z":"e15cad1.5413b5","name":"","filename":"/data/Granjas GeoJSON.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":1640,"wires":[["89576a7a.962148"]]},{"id":"588803c7.5cad0c","type":"split","z":"e15cad1.5413b5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":1640,"wires":[["a010c394.9aa66"]]},{"id":"a010c394.9aa66","type":"function","z":"e15cad1.5413b5","name":"Google Earth to GeoJSON","func":"// Clean Earth kml to coordinate number array\n\nvar boundary = msg.payload.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\nboundary = boundary.substring(7);\n\nvar points = boundary.split(\" \");\npoints.pop()\n\npoints.forEach(function(part, index) {\n  this[index] = points[index].split(\",\");\n  this[index] = this[index].map(Number)\n  this[index].pop()\n}, points); // use arr as this\n\n\n\n// Prepare GeoJSON\nvar geo = { \"type\": \"FeatureCollection\",\n\"features\": [\n  {\n    \"type\": \"Feature\",\n    \"properties\": {\n      \"color\": \"rgb(0,0,255)\",\n      \"roofColor\": \"rgb(128,128,255)\",\n      \"Zona\": \"Pasto\"\n    },\n    \"geometry\": {\n      \"type\": \"Polygon\",\n      \"coordinates\": [points]\n    }\n  }\n]\n}\nvar name = msg.payload.name[0]\nvar m = {overlay:msg.payload.name[0], geojson:geo, fit:true};\nmsg.payload = {\n    command: {\n        map: m, \n        lat: msg.payload.LookAt[0].latitude[0], \n        lon: msg.payload.LookAt[0].longitude[0]\n    }\n};\n\ngranja = {\"setup\": msg.payload, \"vacas\": []}\nflow.set(name, granja)\n\nmsg.points = [points]\nreturn msg\n\n","outputs":1,"noerr":0,"x":1020,"y":1640,"wires":[["14ac514.32bebaf"]]},{"id":"8d97e8ea.9111c8","type":"change","z":"e15cad1.5413b5","name":"Cleaning","rules":[{"t":"move","p":"payload.kml.Document[0].Placemark","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1640,"wires":[["588803c7.5cad0c"]]},{"id":"135b287e.a4d098","type":"inject","z":"e15cad1.5413b5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1640,"wires":[["3285aed8.11fc92"]]},{"id":"daac9688.e58658","type":"comment","z":"e15cad1.5413b5","name":"Coordenadas Granjas","info":"","x":160,"y":1580,"wires":[]},{"id":"f5e88a78.48b7f8","type":"function","z":"e15cad1.5413b5","name":"points in polygon","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\npoints.forEach(function(part, index) {\n    var x = points[index].lon\n    var y = points[index].lat\n    \n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > y) != (yj > y)) && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }\n    this[index].inside = inside\n    \n}, points); // use arr as this\\\n\nvar granja = flow.get(msg.topic)\n\ngranja.vacas = points\n\nflow.set(msg.topic, granja)\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1760,"wires":[["dd44f6d3.4944f8"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"51dc08fd.de2b18","type":"inject","z":"e15cad1.5413b5","name":"","topic":"mas_gener","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1760,"wires":[["e50be082.99543"]]},{"id":"e50be082.99543","type":"function","z":"e15cad1.5413b5","name":"show vacas","func":"var granja = flow.get(msg.topic);\n\nmsg.payload = {\n    \"points\": granja.vacas,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1760,"wires":[["f5e88a78.48b7f8"]]},{"id":"dd44f6d3.4944f8","type":"debug","z":"e15cad1.5413b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1760,"wires":[]},{"id":"3febf010.0a08a","type":"comment","z":"e15cad1.5413b5","name":"Leer coordenadas Granja X","info":"Poniendo el Topic de la granja qe queramos ver, nos da sus coordenadas","x":540,"y":1720,"wires":[]},{"id":"fd9f963e.6423d8","type":"worldmap in","z":"7f218a69.fd87b4","name":"","path":"/map/rutas","events":"","x":180,"y":80,"wires":[["98f96a22.4564a8"]]},{"id":"48786314.d04fdc","type":"ui_worldmap","z":"7f218a69.fd87b4","group":"a223d88e.58f088","order":2,"width":22,"height":11,"name":"Rutas","lat":"42.034722","lon":"2.892528","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/rutas","x":990,"y":80,"wires":[]},{"id":"98f96a22.4564a8","type":"function","z":"7f218a69.fd87b4","name":"when connected => granjas + recorrido","func":"var msg1 = {}\nvar msg2 = {}\nvar msg3 = {}\n\nif (msg.payload.action==\"connected\") {\n    \n    var ruta_mas_badosa = flow.get(\"ruta_mas_badosa\");\n    var ruta_mas_colom = flow.get(\"ruta_mas_colom\");\n    var ruta_can_siset = flow.get(\"ruta_can_siset\");\n    var ruta_mas_gener = flow.get(\"ruta_mas_gener\");\n    var ruta_mas_almar = flow.get(\"ruta_mas_almar\");\n    \n    var edificios = flow.get(\"edificios\");\n    \n    var camiones = flow.get(\"camiones\");\n    \n    Object.assign(msg1, msg);\n    msg1.payload = [ruta_mas_badosa, \n                    ruta_mas_colom, \n                    ruta_can_siset,\n                    ruta_mas_almar,\n                    ruta_mas_gener];\n    \n    Object.assign(msg2, msg);\n    msg2.payload = edificios;\n    \n    Object.assign(msg3, msg);\n    msg3.payload = [\n                    {\"name\":\"Camión \"+camiones[0].Ruta,\n                     \"lat\":camiones[0].Pos[0],\n                     \"lon\":camiones[0].Pos[1],\n                     \"icon\":\":truck:\"\n                    },\n                    {\"name\":\"Camión \"+camiones[1].Ruta,\n                     \"lat\":camiones[1].Pos[0],\n                     \"lon\":camiones[1].Pos[1],\n                     \"icon\":\":truck:\"\n                    },\n                    {\"name\":\"Camión \"+camiones[2].Ruta,\n                     \"lat\":camiones[2].Pos[0],\n                     \"lon\":camiones[2].Pos[1],\n                     \"icon\":\":truck:\"\n                    },\n                    {\"name\":\"Camión \"+camiones[3].Ruta,\n                     \"lat\":camiones[3].Pos[0],\n                     \"lon\":camiones[3].Pos[1],\n                     \"icon\":\":truck:\"\n                    },\n                    {\"name\":\"Camión \"+camiones[4].Ruta,\n                     \"lat\":camiones[4].Pos[0],\n                     \"lon\":camiones[4].Pos[1],\n                     \"icon\":\":truck:\"\n                    }\n                ]\n    \nreturn [msg1, msg2, msg3];\n}\n\n","outputs":3,"noerr":0,"x":540,"y":80,"wires":[["48786314.d04fdc"],["48786314.d04fdc"],["48786314.d04fdc"]]},{"id":"6b85ec0c.dfcb34","type":"function","z":"e15cad1.5413b5","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = flow.get(msg.topic)\n\ngranja.vacas = cows\n\nflow.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["970e68d0.480e88"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"cb86920a.6b5b9","type":"ui_table","z":"7f218a69.fd87b4","group":"bceddb04.a25448","name":"","order":2,"width":26,"height":5,"columns":[{"field":"Color","title":"","width":"5%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"Ruta","title":"Ruta","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Matricula","title":"Matrícula","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Conductor","title":"Conductor","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Temperatura","title":"Temperatura (ºC)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Cuba","title":"Cuba (L)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Distancia","title":"Distancia Acumulada (km)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Revision","title":"Última Revisión","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":770,"y":220,"wires":[]},{"id":"3d6def31.5a6ba","type":"inject","z":"7f218a69.fd87b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"1","x":250,"y":220,"wires":[["108275d2.261efa"]]},{"id":"108275d2.261efa","type":"function","z":"7f218a69.fd87b4","name":"Actualizar Tabla Dashboard","func":"var camiones = flow.get(\"camiones\")\nmsg.payload = camiones;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["cb86920a.6b5b9","3383e347.e3cf7c"]]},{"id":"7e709c0.9afdd64","type":"function","z":"7f218a69.fd87b4","name":"Valores Tabla","func":"var camiones = flow.get(\"camiones\")\ncamiones = [\n    {   \n        \"Color\":\"#808bff\",\n        \"Ruta\":\"Mas Badosa\",\n        \"Matricula\":\"2456-FCM\",\n        \"Conductor\":\"Adriana\",\n        \"Temperatura\":\"6\",\n        \"Cuba\":\"10.000\",\n        \"Distancia\":\"280.402\",\n        \"Revision\":\"30-06-2016\",\n        \"Pos\":{0:42.11178,1:2.76969}\n    },\n    {\n       \"Color\":\"#ff0000\",\n        \"Ruta\":\"Mas Almar\",\n        \"Matricula\":\"1184-FCM\",\n        \"Conductor\":\"Ferran\",\n        \"Temperatura\":\"2\",\n        \"Cuba\":\"5.000\",\n        \"Distancia\":\"70.398\",\n        \"Revision\":\"13-11-2018\",\n        \"Pos\":{0:42.04112,1:2.94004}\n    },\n    {\n        \"Color\":\"#53eb31\",\n        \"Ruta\":\"Can Siset\",\n        \"Matricula\":\"9264-FCM\",\n        \"Conductor\":\"Joan\",\n        \"Temperatura\":\"3\",\n        \"Cuba\":\"10.000\",\n        \"Distancia\":\"320.546\",\n        \"Revision\":\"13-11-2018\",\n        \"Pos\":{0:42.06532,1:2.81257}\n    },\n    {\"Color\":\"#ff80e6\",\n        \"Ruta\":\"Mas Colom\",\n        \"Matricula\":\"8764-FCM\",\n        \"Conductor\":\"Vicenç\",\n        \"Temperatura\":\"1\",\n        \"Cuba\":\"5.000\",\n        \"Distancia\":\"450.779\",\n        \"Revision\":\"01-02-2014\",\n        \"Pos\":{0:42.02202,1:2.8552}\n    },\n    {\n        \"Color\":\"#fbff00\",\n        \"Ruta\":\"Mas Gener\",\n        \"Matricula\":\"0407-FCM\",\n        \"Conductor\":\"Yair\",\n        \"Temperatura\":\"4\",\n        \"Cuba\":\"5.000\",\n        \"Distancia\":\"30.909\",\n        \"Revision\":\"21-12-2019\",\n        \"Pos\":{0:41.97916,1:2.77981}\n    }\n        ]\nflow.set(\"camiones\",camiones)\n\nmsg.payload = camiones;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["4b337a5.6e94384"]]},{"id":"3383e347.e3cf7c","type":"debug","z":"7f218a69.fd87b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":160,"wires":[]},{"id":"a0733deb.9f29c","type":"random","z":"458a31c0.fce1b","name":"","low":"0","high":"40","inte":"true","property":"payload","x":440,"y":120,"wires":[["1a90d49f.0c9c5b"]]},{"id":"76f3de8.64af12","type":"function","z":"458a31c0.fce1b","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["e0c1349f.1a0a08"]]},{"id":"dd5cf5ac.c35048","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["3e3302ae.6d72ce"]]},{"id":"3a9c42a1.dd741e","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":700,"wires":[["3e3302ae.6d72ce"]]},{"id":"3e3302ae.6d72ce","type":"function","z":"458a31c0.fce1b","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":680,"wires":[["e75b33f5.c3364"]]},{"id":"f3d56056.0ef86","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1060,"wires":[["882e14d0.d8c178"]]},{"id":"13cb7342.7da52d","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1100,"wires":[["882e14d0.d8c178"]]},{"id":"882e14d0.d8c178","type":"function","z":"458a31c0.fce1b","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":1080,"wires":[["3854832c.171e5c"]]},{"id":"16a1b71b.7298f9","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1440,"wires":[["c3405047.4fcb5"]]},{"id":"f66812d1.d994a","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1480,"wires":[["c3405047.4fcb5"]]},{"id":"c3405047.4fcb5","type":"function","z":"458a31c0.fce1b","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":1460,"wires":[["8ed6e712.3815a8"]]},{"id":"5c23566a.db8be8","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1840,"wires":[["62fece06.0478d"]]},{"id":"3c6e1395.2f49dc","type":"inject","z":"458a31c0.fce1b","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1880,"wires":[["62fece06.0478d"]]},{"id":"62fece06.0478d","type":"function","z":"458a31c0.fce1b","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":1860,"wires":[["7e7ffa35.9840e4"]]},{"id":"3499eb4b.521394","type":"inject","z":"458a31c0.fce1b","name":"Temp Granja","topic":"Mas Colom","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":540,"wires":[["7fd72171.554e4"]]},{"id":"7fd72171.554e4","type":"random","z":"458a31c0.fce1b","name":"","low":"0","high":"40","inte":"true","property":"payload","x":420,"y":540,"wires":[["86d3fca1.c934a"]]},{"id":"d59a7638.ba3988","type":"inject","z":"458a31c0.fce1b","name":"Temp Granja","topic":"Can Siset","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":940,"wires":[["c5f2b1a.0a6ba5"]]},{"id":"c5f2b1a.0a6ba5","type":"random","z":"458a31c0.fce1b","name":"","low":"0","high":"40","inte":"true","property":"payload","x":440,"y":940,"wires":[["2879a7b0.db86c8"]]},{"id":"e9311795.3904f8","type":"inject","z":"458a31c0.fce1b","name":"Temp Granja","topic":"Mas Almar","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1320,"wires":[["ceba3aad.0f5ec8"]]},{"id":"ceba3aad.0f5ec8","type":"random","z":"458a31c0.fce1b","name":"","low":"0","high":"40","inte":"true","property":"payload","x":440,"y":1320,"wires":[["c7e30479.838ed8"]]},{"id":"1ddeddb9.fd32f2","type":"inject","z":"458a31c0.fce1b","name":"Temp Granja","topic":"Mas Gener","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1720,"wires":[["3d0728a0.38ce18"]]},{"id":"3d0728a0.38ce18","type":"random","z":"458a31c0.fce1b","name":"","low":"0","high":"40","inte":"true","property":"payload","x":420,"y":1720,"wires":[["f47af16a.6c094"]]},{"id":"d05c10b6.89e56","type":"ui_text","z":"e15cad1.5413b5","group":"c356825b.6dc0e","order":2,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 60 vacas</font></b>","layout":"row-center","x":450,"y":280,"wires":[]},{"id":"25c1bd06.76c892","type":"ui_text","z":"e15cad1.5413b5","group":"26bf9273.cc34ee","order":2,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 52 vacas</font></b>","layout":"row-center","x":410,"y":740,"wires":[]},{"id":"5fdfa61c.949fe8","type":"ui_text","z":"e15cad1.5413b5","group":"5c815c49.edacf4","order":2,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 45 vacas</font></b>","layout":"row-center","x":410,"y":1180,"wires":[]},{"id":"a7279809.94a078","type":"ui_text","z":"e15cad1.5413b5","group":"315b5d5d.e83e02","order":2,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 72 vacas</font></b>","layout":"row-center","x":1730,"y":260,"wires":[]},{"id":"5fc54e95.c804b","type":"ui_text","z":"e15cad1.5413b5","group":"2e9dba87.607d26","order":2,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 45 vacas</font></b>","layout":"row-center","x":1710,"y":680,"wires":[]},{"id":"403376b7.25e408","type":"sqlite","z":"690c748c.979aac","mydb":"469f5356.1354ac","sqlquery":"msg.topic","sql":"","name":"","x":1030,"y":180,"wires":[["c57f351d.405138"]]},{"id":"a7400d34.9848a","type":"inject","z":"690c748c.979aac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["b2977150.8d5f7"]]},{"id":"b2977150.8d5f7","type":"function","z":"690c748c.979aac","name":"Create Table","func":"/*\nmsg.payload = [\"CREATE TABLE edificios (edificio varchar(15), capacidad_vacas INT, capacidad_cuba FLOAT, lat REAL, lon REAL, icon VARCHAR(15),\"+\n            \"PRIMARY KEY (edificio))\",\n            \n            \"CREATE TABLE areas (edificio varchar(15), orden INT, lat REAL, lon REAL,\"+\n            \"PRIMARY KEY (orden),\"+\n            \"FOREIGN KEY (edificio) REFERENCES edificios (edificio))\",\n            \n            \"CREATE TABLE rutas (edificio varchar(15), orden INT, lat REAL, lon REAL,\"+\n            \"PRIMARY KEY (orden),\"+\n            \"FOREIGN KEY (edificio) REFERENCES edificios (edificio))\",\n            \n            \"CREATE TABLE camiones (matricula varchar(15), edificio varchar(15), suma_km FLOAT, compra DATE,\"+\n            \"PRIMARY KEY (matricula),\"+\n            \"FOREIGN KEY (edificio) REFERENCES edificios (edificios))\",\n            \n            \"CREATE TABLE viajes (matricula varchar(15), numeroempleado varchar(15), edificiosalida varchar(15), edificiollegada varchar(15),\"+\n            \"FOREIGN KEY (matricula) REFERENCES camiones (matricula),\"+\n            \"FOREIGN KEY (numeroempleado) REFERENCES conductores(numeroempleado),\"+\n            \"FOREIGN KEY (edificiosalida) REFERENCES  edificios(edificio)\"+\n            \"FOREIGN KEY (edificiosalida) REFERENCES  edificios(edificio))\",\n            \n            \"CREATE TABLE conductores (nombre varchar(20), numeroempleado varchar(15), apellido1 varchar(20), apellido2 varchar(20), edad INT,\"+\n            \"PRIMARY KEY (numeroempleado))\"\n            ];\n            */\nmsg.payload = [\"CREATE TABLE rutas (edificio varchar(15), orden INT, lat REAL, lon REAL,\"+\n            \"PRIMARY KEY (edificio,orden),\"+\n            \"FOREIGN KEY (edificio) REFERENCES edificios (edificio))\"]\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["ea1c8a57.780cd8"]]},{"id":"c57f351d.405138","type":"debug","z":"690c748c.979aac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":180,"wires":[]},{"id":"dadc7787.692118","type":"function","z":"690c748c.979aac","name":"select all raws in ALL TABLES","func":"msg.payload =[\"SELECT * FROM edificios\", \n               \"SELECT * FROM areas\",\n               \"SELECT * FROM camiones\",\n               \"SELECT * FROM rutas\"];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["ea1c8a57.780cd8"]]},{"id":"21c18ef4.92c452","type":"inject","z":"690c748c.979aac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["dadc7787.692118"]]},{"id":"ba814928.20ad38","type":"function","z":"690c748c.979aac","name":"Drop table","func":"/*\nmsg.payload = [\"DROP TABLE edificios\",\n            \"DROP TABLE areas\",\n            \"DROP TABLE rutas\",\n            \"DROP TABLE conductores\",\n            \"DROP TABLE camiones\",\n            \"DROP TABLE viajes\"];\n            */\nmsg.payload = [\"DROP TABLE rutas\"]\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["ea1c8a57.780cd8"]]},{"id":"d020dcd.fcc422","type":"inject","z":"690c748c.979aac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["ba814928.20ad38"]]},{"id":"d58e1fa2.619af","type":"function","z":"690c748c.979aac","name":"Delete values table","func":"/*\nmsg.payload = [\"DELETE FROM edificios\",\n            \"DELETE FROM areas\",\n            \"DELETE FROM rutas\",\n            \"DELETE FROM conductores\",\n            \"DELETE FROM camiones\",\n            \"DELETE FROM viajes\"];\n        */\nmsg.payload = [\"DELETE FROM rutas\"]\nreturn msg","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["ea1c8a57.780cd8"]]},{"id":"76d2b187.1bf55","type":"inject","z":"690c748c.979aac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["d58e1fa2.619af"]]},{"id":"ea1c8a57.780cd8","type":"split","z":"690c748c.979aac","name":"","splt":"[]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":570,"y":180,"wires":[["bc5d9741.cf2f78"]]},{"id":"bc5d9741.cf2f78","type":"change","z":"690c748c.979aac","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":180,"wires":[["403376b7.25e408"]]},{"id":"14ac514.32bebaf","type":"function","z":"e15cad1.5413b5","name":"Insert AREAS","func":"var coord = msg.points[0]\nvar topics = []\nif (msg.payload.command.map.overlay === \"can_siset\")\n{\n    topic = \"INSERT INTO areas (edificio, orden, lat, lon) VALUES ('Can Siset',\"\n}\nelse if (msg.payload.command.map.overlay === \"mas_badosa\")\n{\n    topic = \"INSERT INTO areas (edificio, orden, lat, lon) VALUES ('Mas Badosa',\"\n}\nelse if (msg.payload.command.map.overlay === \"mas_almar\")\n{\n    topic = \"INSERT INTO areas (edificio, orden, lat, lon) VALUES ('Mas Almar',\"\n}\nelse if (msg.payload.command.map.overlay === \"mas_colom\")\n{\n    topic = \"INSERT INTO areas (edificio, orden, lat, lon) VALUES ('Mas Colom',\"\n}\nelse if (msg.payload.command.map.overlay === \"mas_gener\")\n{\n    topic = \"INSERT INTO areas (edificio, orden, lat, lon) VALUES ('Mas Gener',\"\n}\n\ncoord.forEach(function(part, index) {\n            topic_2 = [index]+\",\"+\n            coord[index][1]+\",\"+\n            coord[index][0]+\")\";\n    topics.push(topic+topic_2);\n}, coord); // use arr as this\n\ndelete msg.parts;\nmsg.payload = topics;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1300,"y":1640,"wires":[["b64871b9.01c91"]]},{"id":"6b5e8979.902938","type":"sqlite","z":"e15cad1.5413b5","mydb":"469f5356.1354ac","sqlquery":"msg.topic","sql":"","name":"","x":1970,"y":1640,"wires":[[]]},{"id":"b64871b9.01c91","type":"split","z":"e15cad1.5413b5","name":"","splt":"[]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1490,"y":1640,"wires":[["b6040ad6.6f3558"]]},{"id":"b6040ad6.6f3558","type":"change","z":"e15cad1.5413b5","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":1640,"wires":[["6b5e8979.902938"]]},{"id":"3625cae2.49cb46","type":"function","z":"690c748c.979aac","name":"Alter Table","func":"msg.payload = [\"ALTER TABLE edificios ADD COLUMN icon varchar(15)\",\n            \n            ];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["ea1c8a57.780cd8"]]},{"id":"ad2d4e1b.89448","type":"inject","z":"690c748c.979aac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["3625cae2.49cb46"]]},{"id":"4b337a5.6e94384","type":"function","z":"7f218a69.fd87b4","name":"Insert CAMIONES","func":"var camiones = flow.get(\"camiones\")\nvar topics = []\ncamiones.forEach(function(part, index) {\n   msg.topic = \"INSERT INTO camiones (matricula, edificio, suma_km, compra) VALUES ('\"+\n            camiones[index].Matricula+\"','\"+\n            camiones[index].Ruta+\"',\"+\n            camiones[index].Distancia+\",\"+\n            camiones[index].Revision+\")\";\n    topics.push(msg.topic);\n}, camiones); // use arr as this\n\nmsg.payload = topics;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["ef2858ac.162808"]]},{"id":"12e82e80.e911e2","type":"comment","z":"7f218a69.fd87b4","name":"","info":"falta modificar la fecha de compra","x":500,"y":500,"wires":[]},{"id":"cef4a3be.12b1a","type":"xml","z":"7f218a69.fd87b4","name":"","property":"payload","attr":"","chr":"","x":550,"y":600,"wires":[["a4938a86.7c1658","2d838dd9.320892"]]},{"id":"27ab44ff.0416cc","type":"file in","z":"7f218a69.fd87b4","name":"","filename":"/data/Rutas GeoJSON.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":600,"wires":[["cef4a3be.12b1a"]]},{"id":"ef1ac74a.23de68","type":"inject","z":"7f218a69.fd87b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":520,"wires":[["27ab44ff.0416cc","7e709c0.9afdd64"]]},{"id":"a4938a86.7c1658","type":"change","z":"7f218a69.fd87b4","name":"Cleaning Points","rules":[{"t":"move","p":"payload.kml.Document[0].Folder[0].Placemark","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":560,"wires":[["e9726a7d.223718"]]},{"id":"e9726a7d.223718","type":"function","z":"7f218a69.fd87b4","name":"Edificios","func":"var farms = msg.payload;\nvar edificios = [];\n\nfarms.forEach(function(part, index) { \n    delete farms[index].styleUrl;\n    farms[index].coordinates = farms[index].Point[0].coordinates[0].split(\",\");\n    farms[index].coordinates = farms[index].coordinates.map(Number);\n    farms[index].coordinates.pop();\n    delete farms[index].Point;\n    delete farms[index].description;\n    \n    if (farms[index].name[0] == \"LACCIM\")\n    {\n    edificio = {\"name\": farms[index].name[0], \n                \"lat\": farms[index].coordinates[1],\n                \"lon\": farms[index].coordinates[0],\n                \"icon\": \":factory:\"\n                }\n    }\n    else\n    {\n        edificio = {\"name\": farms[index].name[0], \n                \"lat\": farms[index].coordinates[1],\n                \"lon\": farms[index].coordinates[0],\n                \"icon\": \":cow:\"\n                }\n        \n    }\n    edificios.push(edificio)\n    \n        \n    \n}, farms);\n\nflow.set('edificios', edificios)\nmsg.payload = edificios;\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":560,"wires":[["41517ce2.9fc124"]]},{"id":"41517ce2.9fc124","type":"function","z":"7f218a69.fd87b4","name":"Insert EDIFICIOS","func":"var edificios = msg.payload;\nvar topics = [];\nvar vacas;\nvar cuba;\n\nedificios.forEach(function(part, index) {\n    if (edificios[index].name == \"LACCIM\")\n    {\n        vacas = 0;\n        cuba = 9000;\n        \n    }\n    else if (edificios[index].name == \"Mas Badosa\")\n    {\n        vacas = 60;\n        cuba = 10000;\n        \n    }\n    else if (edificios[index].name == \"Mas Gener\")\n    {\n        vacas = 45;\n        cuba = 5000;\n        \n    }\n    else if (edificios[index].name == \"Can Siset\")\n    {\n        vacas = 72;\n        cuba = 10000;\n        \n    }\n    else if (edificios[index].name == \"Mas Colom\" || edificios[index].name == \"Mas Almar\")\n    {\n        vacas = 55;\n        cuba = 5000;\n        \n    }\n    \n    \n    \n    msg.topic = \"INSERT INTO edificios (edificio, capacidad_vacas, capacidad_cuba, lat, lon, icon) VALUES ('\"+\n            edificios[index].name+\"',\"+\n            vacas+\",\"+\n            cuba+\",\"+\n            edificios[index].lat+\",\"+\n            edificios[index].lon+\",'\"+\n            edificios[index].icon+\"')\";\n    topics.push(msg.topic);\n}, edificios); // use arr as this\n\nmsg.payload = topics;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":560,"wires":[["b680b27f.fe193"]]},{"id":"3eec45a4.aa44ca","type":"sqlite","z":"7f218a69.fd87b4","mydb":"469f5356.1354ac","sqlquery":"msg.topic","sql":"","name":"","x":1530,"y":460,"wires":[["af04715b.355a5"]]},{"id":"d895ce90.87943","type":"split","z":"7f218a69.fd87b4","name":"","splt":"[]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1150,"y":460,"wires":[["828c5357.6522a"]]},{"id":"828c5357.6522a","type":"change","z":"7f218a69.fd87b4","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":460,"wires":[["3eec45a4.aa44ca"]]},{"id":"af04715b.355a5","type":"debug","z":"7f218a69.fd87b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":460,"wires":[]},{"id":"790c5bab.f38444","type":"link in","z":"7f218a69.fd87b4","name":"","links":["ef2858ac.162808","b680b27f.fe193","e5be966a.b39f08","97c3118a.62756","6bb41034.27a98","2d16a9a3.9695c6","ab3685db.7d0798"],"x":1015,"y":460,"wires":[["d895ce90.87943"]]},{"id":"ef2858ac.162808","type":"link out","z":"7f218a69.fd87b4","name":"","links":["790c5bab.f38444"],"x":655,"y":460,"wires":[]},{"id":"b680b27f.fe193","type":"link out","z":"7f218a69.fd87b4","name":"","links":["790c5bab.f38444"],"x":1535,"y":560,"wires":[]},{"id":"e5be966a.b39f08","type":"link out","z":"7f218a69.fd87b4","name":"","links":["790c5bab.f38444"],"x":1535,"y":640,"wires":[]},{"id":"2d838dd9.320892","type":"change","z":"7f218a69.fd87b4","name":"Cleaning Folders","rules":[{"t":"delete","p":"payload.kml.Document[0].Folder[0]","pt":"msg"},{"t":"move","p":"payload.kml.Document[0].Folder","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":640,"wires":[["a66f7bfe.d29968"]]},{"id":"9b4ca405.5868d8","type":"function","z":"7f218a69.fd87b4","name":"Change Lat and Lan","func":"// Clean Earth kml to coordinate number array\n\nvar boundary = msg.payload.points;\nboundary = boundary.substring(7);\n\nvar points = boundary.split(\"\\n\");\npoints.pop()\n\npoints.forEach(function(part, index) {\n  this[index] = points[index].split(\",\");\n  this[index] = this[index].map(Number)\n  this[index].pop()\n}, points); // use arr as this\n\npoints.forEach(function(part, index) { \n    var lat = points[index][0]    \n    var lon = points[index][1]\n    points[index][0] = lon,    \n    points[index][1] = lat\n},points);\n\nmsg.payload = {points}\ndelete msg.filename\ndelete msg.topic\nreturn msg;\n","outputs":1,"noerr":0,"x":1160,"y":640,"wires":[["cd737b25.d31a58"]]},{"id":"a66f7bfe.d29968","type":"function","z":"7f218a69.fd87b4","name":"Cleaning Points","func":"rutas = msg.payload;\n\nrutas.forEach(function(part, index){\n    msg.payload = rutas[index].Placemark[0].LineString[0].coordinates[0]\n    msg.name = rutas[index].Placemark[1].name[0]\n    msg.payload = {\"points\":msg.payload, \"name\":msg.name}\n    node.send(msg)\n},rutas);\n\n","outputs":1,"noerr":0,"x":940,"y":640,"wires":[["9b4ca405.5868d8"]]},{"id":"cd737b25.d31a58","type":"function","z":"7f218a69.fd87b4","name":"insert RUTAS","func":"var coord = msg.payload.points\ntopics =[];\n\nif (msg.name === \"'Can Siset'\")\n{\n    ruta = {\n    name:msg.name,\n    color:\"#53eb31\",\n    \"line\": [msg.payload.points]\n    }\n    flow.set(msg.name, ruta)\n}\nelse if (msg.name === \"'Mas Badosa'\")\n{\n    ruta = {\n    name:msg.name,\n    color: \"#808bff\",\n    \"line\": [msg.payload.points]\n    }\n    flow.set(msg.name, ruta)\n    \n}\nelse if (msg.name === \"'Mas Almar'\")\n{\n    ruta = {\n    name:msg.name,\n    color:\"#ff0000\",\n    \"line\": [msg.payload.points]\n    }\n    flow.set(msg.name, ruta)\n  \n}\nelse if (msg.name === \"'Mas Colom'\")\n{\n    ruta = {\n    name:msg.name,\n    color:\"#ff80e6\",\n    \"line\": [msg.payload.points]\n    }\n    flow.set(msg.name, ruta)\n   \n}\nelse if (msg.name === \"'Mas Gener'\")\n{\n    ruta = {\n    name:msg.name,\n    color: \"#fbff00\",\n    \"line\": [msg.payload.points]\n    }\n    flow.set(msg.name, ruta)\n    \n}\n\ncoord.forEach(function(part, index) {\n            topic = \"INSERT INTO rutas (edificio, orden, lat, lon) VALUES ('\"+\n            msg.name+\"',\"+\n            [index]+\",\"+\n            coord[index][1]+\",\"+\n            coord[index][0]+\")\";\n    topics.push(topic);\n}, coord); // use arr as this\n\nmsg.payload = topics;\nreturn msg;\n","outputs":1,"noerr":0,"x":1380,"y":640,"wires":[["e5be966a.b39f08"]]},{"id":"33589592.c5318a","type":"random","z":"eb8ada15.b769f8","name":"Temperatura ","low":"10","high":"40","inte":"true","property":"payload","x":410,"y":160,"wires":[["d018ee0f.2fae9","dd1a6dd2.9db9e"]]},{"id":"e43ff3d3.76955","type":"random","z":"eb8ada15.b769f8","name":"Humedad","low":"20","high":"90","inte":"true","property":"payload","x":400,"y":280,"wires":[["c2055b9e.4db888","5c391a86.f00dc4"]]},{"id":"d018ee0f.2fae9","type":"ui_gauge","z":"eb8ada15.b769f8","name":"","group":"c56ea77d.af1a18","order":9,"width":4,"height":3,"gtype":"donut","title":"Temperatura Nave","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":140,"wires":[]},{"id":"dd1a6dd2.9db9e","type":"ui_gauge","z":"eb8ada15.b769f8","name":"","group":"c56ea77d.af1a18","order":5,"width":4,"height":3,"gtype":"donut","title":"Temperatura Oficina","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":180,"wires":[]},{"id":"c2055b9e.4db888","type":"ui_gauge","z":"eb8ada15.b769f8","name":"","group":"c56ea77d.af1a18","order":8,"width":4,"height":3,"gtype":"donut","title":"Humedad Nave","label":"%","format":"{{value}}","min":0,"max":"90","colors":["#00ffff","#0080ff","#0000ff"],"seg1":"","seg2":"","x":580,"y":260,"wires":[]},{"id":"5c391a86.f00dc4","type":"ui_gauge","z":"eb8ada15.b769f8","name":"","group":"c56ea77d.af1a18","order":6,"width":4,"height":3,"gtype":"donut","title":"Humedad Oficina","label":"%","format":"{{value}}","min":0,"max":"90","colors":["#00ffff","#0080ff","#0000ff"],"seg1":"","seg2":"","x":590,"y":300,"wires":[]},{"id":"d77e1492.acb6e8","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":220,"wires":[["33589592.c5318a","e43ff3d3.76955"]]},{"id":"ae05d04a.d731c","type":"random","z":"eb8ada15.b769f8","name":"","low":"10","high":"40","inte":"true","property":"payload","x":900,"y":660,"wires":[["4fa98e50.71c36"]]},{"id":"309b5094.90b66","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"Máquina Clima ","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"1","x":220,"y":660,"wires":[["c7e23696.d675a8"]]},{"id":"90cab01d.18345","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":500,"wires":[["3dba913c.9888de"]]},{"id":"3dba913c.9888de","type":"function","z":"eb8ada15.b769f8","name":"","func":"msg.options = [{\"Tanque1\":\"0\"}, {\"Tanque2\":\"1\"}, {\"Tanque3\":\"2\"},{\"Tanque4\":\"3\"},{\"Tanque5\":\"4\"},{\"Tanque6\":\"5\"}]\nmsg.payload = 4;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["6cde9f83.f0f18"]]},{"id":"6cde9f83.f0f18","type":"ui_dropdown","z":"eb8ada15.b769f8","name":"","label":"","tooltip":"","place":"Select option","group":"c56ea77d.af1a18","order":16,"width":4,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"msg.options","x":540,"y":500,"wires":[["41f07821.e6cbe8","d4bb83bd.4e766"]]},{"id":"41f07821.e6cbe8","type":"random","z":"eb8ada15.b769f8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":700,"y":440,"wires":[["d4bb83bd.4e766"]]},{"id":"531cb6cc.23bfd8","type":"comment","z":"eb8ada15.b769f8","name":"Temperatura/Humedad ","info":"","x":160,"y":60,"wires":[]},{"id":"5936a886.772af8","type":"comment","z":"eb8ada15.b769f8","name":"Temperatura Tanques","info":"","x":180,"y":400,"wires":[]},{"id":"d4bb83bd.4e766","type":"ui_gauge","z":"eb8ada15.b769f8","name":"Temperatura Tanques","group":"c56ea77d.af1a18","order":1,"width":4,"height":3,"gtype":"donut","title":"Tanques","label":"°C","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":500,"wires":[]},{"id":"2e0a8747.e1ca88","type":"comment","z":"eb8ada15.b769f8","name":"Consumo Maquinas","info":"","x":230,"y":1460,"wires":[]},{"id":"464a717a.afc73","type":"ui_switch","z":"eb8ada15.b769f8","name":"Maquina1","label":"<b><font size = 4>Maquina 1: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me","group":"c56ea77d.af1a18","order":27,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":535,"y":800,"wires":[[]],"l":false},{"id":"b7516dbe.6c0df","type":"comment","z":"eb8ada15.b769f8","name":"Estado Maquina","info":"","x":240,"y":720,"wires":[]},{"id":"5fa2f75e.138378","type":"ui_switch","z":"eb8ada15.b769f8","name":"Maquina2","label":"<b><font size = 4>Máquina 2: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me","group":"c56ea77d.af1a18","order":30,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":535,"y":940,"wires":[[]],"l":false},{"id":"3787efbf.b07a7","type":"ui_switch","z":"eb8ada15.b769f8","name":"Maquina3","label":"<b><font size = 4>Máquina 3: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me","group":"c56ea77d.af1a18","order":33,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":535,"y":1040,"wires":[[]],"l":false},{"id":"749a3c3a.098744","type":"ui_switch","z":"eb8ada15.b769f8","name":"Maquina4","label":"<b><font size = 4>Máquina 4: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me","group":"c56ea77d.af1a18","order":36,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":535,"y":1160,"wires":[[]],"l":false},{"id":"f880a177.42262","type":"ui_switch","z":"eb8ada15.b769f8","name":"Maquina Clima 1 ","label":"<b><font size = 4>Máquina Clima 1: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me","group":"c56ea77d.af1a18","order":39,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"Maquina Clima1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":535,"y":1280,"wires":[[]],"l":false},{"id":"57bf13b7.f3d27c","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"1","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1520,"wires":[["fe9b92c1.2d4ec"]]},{"id":"a86f4e0e.f8e73","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"3","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1640,"wires":[["f6bc50e9.e4fad"]]},{"id":"9988f6cd.182068","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"4","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1700,"wires":[["1be07f24.108401"]]},{"id":"5b6a84d5.bedefc","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"2","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1580,"wires":[["7cca588e.ee2ca8"]]},{"id":"c564ac0f.481a3","type":"ui_chart","z":"eb8ada15.b769f8","name":"","group":"c56ea77d.af1a18","order":21,"width":11,"height":7,"label":"Consumo Maquinas","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":1600,"wires":[[]]},{"id":"fe9b92c1.2d4ec","type":"random","z":"eb8ada15.b769f8","name":"","low":"10","high":"20","inte":"true","property":"payload","x":380,"y":1520,"wires":[["c564ac0f.481a3"]]},{"id":"7cca588e.ee2ca8","type":"random","z":"eb8ada15.b769f8","name":"","low":"10","high":"20","inte":"true","property":"payload","x":380,"y":1580,"wires":[["c564ac0f.481a3"]]},{"id":"f6bc50e9.e4fad","type":"random","z":"eb8ada15.b769f8","name":"","low":"10","high":"20","inte":"true","property":"payload","x":380,"y":1640,"wires":[["c564ac0f.481a3"]]},{"id":"1be07f24.108401","type":"random","z":"eb8ada15.b769f8","name":"","low":"10","high":"20","inte":"true","property":"payload","x":380,"y":1700,"wires":[["c564ac0f.481a3"]]},{"id":"3ac27de.dd51482","type":"comment","z":"eb8ada15.b769f8","name":"Consumo Maquinas Clima","info":"","x":270,"y":1780,"wires":[]},{"id":"76c0aadd.a33b54","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"1","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1860,"wires":[["529dbf8f.4ad64"]]},{"id":"3200488f.a7fdf8","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"2","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1920,"wires":[["e00d362a.a7dc68"]]},{"id":"a7d307c6.7fbce8","type":"ui_chart","z":"eb8ada15.b769f8","name":"","group":"c56ea77d.af1a18","order":22,"width":11,"height":7,"label":"Consumo Maquinas Clima","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":1900,"wires":[[]]},{"id":"529dbf8f.4ad64","type":"random","z":"eb8ada15.b769f8","name":"","low":"10","high":"20","inte":"true","property":"payload","x":380,"y":1860,"wires":[["a7d307c6.7fbce8"]]},{"id":"e00d362a.a7dc68","type":"random","z":"eb8ada15.b769f8","name":"","low":"10","high":"20","inte":"true","property":"payload","x":380,"y":1920,"wires":[["a7d307c6.7fbce8"]]},{"id":"5fc00ddb.41fa04","type":"function","z":"eb8ada15.b769f8","name":"Confirm","func":"//only accept OK msg's\nif (msg.payload == 'OK') {\n    msg.payload = \"Stop\";\n    node.send(msg);\n}\nreturn null;","outputs":1,"noerr":0,"x":980,"y":1520,"wires":[["24f94269.dfd46e"]]},{"id":"b1b1e09f.c50ac","type":"ui_toast","z":"eb8ada15.b769f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"Delete?","x":787,"y":1520,"wires":[["5fc00ddb.41fa04"]]},{"id":"24f94269.dfd46e","type":"debug","z":"eb8ada15.b769f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":1520,"wires":[]},{"id":"befe6e57.ae0da","type":"function","z":"eb8ada15.b769f8","name":"Confirm","func":"//only accept OK msg's\nif (msg.payload == 'OK') {\n    msg.payload = \"Stop\";\n    node.send(msg);\n}\nreturn null;","outputs":1,"noerr":0,"x":920,"y":1840,"wires":[["ab4dd94e.ce5b88"]]},{"id":"dd028365.41a22","type":"ui_toast","z":"eb8ada15.b769f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"Delete?","x":727,"y":1840,"wires":[["befe6e57.ae0da"]]},{"id":"ab4dd94e.ce5b88","type":"debug","z":"eb8ada15.b769f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":1840,"wires":[]},{"id":"c304d56a.d463b8","type":"ui_switch","z":"eb8ada15.b769f8","name":"Maquina Clima2","label":"<b><font size = 4>Máquina Clima 2: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me","group":"c56ea77d.af1a18","order":42,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":535,"y":1400,"wires":[[]],"l":false},{"id":"4fa98e50.71c36","type":"ui_gauge","z":"eb8ada15.b769f8","name":"Temperatura Maquina Clima","group":"c56ea77d.af1a18","order":3,"width":4,"height":3,"gtype":"donut","title":"Maquinas Clima","label":"°C","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1140,"y":660,"wires":[]},{"id":"c7e23696.d675a8","type":"function","z":"eb8ada15.b769f8","name":"","func":"msg.options = [{\"Maquina Clima1\":\"0\"}, {\"Maquina Clima2\":\"1\"}]\nmsg.payload = 4;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":660,"wires":[["e85bd4c0.37f438"]]},{"id":"e85bd4c0.37f438","type":"ui_dropdown","z":"eb8ada15.b769f8","name":"Temperatura Maquina Clima","label":"","tooltip":"","place":"Select option","group":"c56ea77d.af1a18","order":18,"width":4,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"msg.options","x":640,"y":660,"wires":[["ae05d04a.d731c"]]},{"id":"4c3d20c7.bd6dc","type":"comment","z":"eb8ada15.b769f8","name":"Temperatura Maquina Clima","info":"","x":200,"y":580,"wires":[]},{"id":"e809f698.f69778","type":"ui_text","z":"eb8ada15.b769f8","group":"c56ea77d.af1a18","order":24,"width":5,"height":1,"name":"","label":"<b><font size = 4>Estado Maquinas</b>","format":"{{msg.payload}}","layout":"row-center","x":760,"y":940,"wires":[]},{"id":"e4e3a081.c9665","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":780,"wires":[["c53e5f06.dcf52"]]},{"id":"a28cc55d.2a9d48","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":820,"wires":[["c53e5f06.dcf52"]]},{"id":"c53e5f06.dcf52","type":"function","z":"eb8ada15.b769f8","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":800,"wires":[["464a717a.afc73"]]},{"id":"66de4203.72f91c","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":960,"wires":[["724ecda3.eab3c4"]]},{"id":"724ecda3.eab3c4","type":"function","z":"eb8ada15.b769f8","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":940,"wires":[["5fa2f75e.138378"]]},{"id":"e1b14bea.61eae8","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1020,"wires":[["b904ab91.f1a0b8"]]},{"id":"90608a07.ae2a88","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1060,"wires":[["b904ab91.f1a0b8"]]},{"id":"b904ab91.f1a0b8","type":"function","z":"eb8ada15.b769f8","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":1040,"wires":[["3787efbf.b07a7"]]},{"id":"d02535f2.b1dcb8","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1140,"wires":[["b01825df.1188c8"]]},{"id":"8f5defcd.692c2","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1180,"wires":[["b01825df.1188c8"]]},{"id":"b01825df.1188c8","type":"function","z":"eb8ada15.b769f8","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":1160,"wires":[["749a3c3a.098744"]]},{"id":"8c73e366.dffa1","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1260,"wires":[["95c0c99c.411d48"]]},{"id":"d45869d0.930a88","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1300,"wires":[["95c0c99c.411d48"]]},{"id":"95c0c99c.411d48","type":"function","z":"eb8ada15.b769f8","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":1280,"wires":[["f880a177.42262"]]},{"id":"e0cfaf42.cd901","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1380,"wires":[["f4d2e419.003cb8"]]},{"id":"1867b0db.b971bf","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1420,"wires":[["f4d2e419.003cb8"]]},{"id":"f4d2e419.003cb8","type":"function","z":"eb8ada15.b769f8","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Desactivado\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Activado\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":1400,"wires":[["c304d56a.d463b8"]]},{"id":"f8967c28.4e269","type":"inject","z":"eb8ada15.b769f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":920,"wires":[["724ecda3.eab3c4"]]}]