Prototipo/Nodered/Sprint 06/E06 - Dashboard - ESPRESSIF.txt
[{"id":"71b96297.44c55c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d887dd.83c4582","type":"tab","label":"Planta Industrial","disabled":false,"info":""},{"id":"90b7ee2a.689b3","type":"tab","label":"Climatización","disabled":false,"info":""},{"id":"685b23f6.ffabfc","type":"tab","label":"Granja","disabled":false,"info":""},{"id":"6584933b.6ac07c","type":"tab","label":"Vacas","disabled":false,"info":""},{"id":"efeecbc4.730d28","type":"tab","label":"Camiones","disabled":false,"info":""},{"id":"7d46a7ee.dc2d88","type":"tab","label":"Alarmas","disabled":false,"info":""},{"id":"3d4c120c.7a292e","type":"tab","label":"Prueba Telegram","disabled":false,"info":""},{"id":"b2c26de5.7e1b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#14bff8","baseFont":"Trebuchet MS,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#14bff8","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#5ed3fa","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#14bff8","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Trebuchet MS,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":43,"sy":34,"gx":6,"gy":6,"cx":6,"cy":6,"px":6,"py":2}}},{"id":"e01190d.2824f7","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":1,"width":8,"height":1},{"id":"f23b169d.fe3d08","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":2,"width":8,"height":1},{"id":"cdfad063.b348d","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":3,"width":8,"height":1},{"id":"f1e2159c.55b748","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":4,"width":8,"height":1},{"id":"c96887eb.174fb8","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":5,"width":8,"height":1},{"id":"3bf24e07.b58db2","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":7,"width":1,"height":1},{"id":"a2ac8ea0.c9cf8","type":"ui_spacer","name":"spacer","group":"d8884396.cbd08","order":9,"width":4,"height":1},{"id":"49b0eba2.931e14","type":"ui_tab","z":"","name":"Camiones","icon":"local_shipping","order":4,"disabled":false,"hidden":false},{"id":"62c9b314.487d5c","type":"ui_group","z":"","name":"Camiones","tab":"49b0eba2.931e14","order":6,"disp":false,"width":30,"collapse":false},{"id":"5a767ae2.c3f964","type":"ui_group","z":"","name":"Mapa","tab":"49b0eba2.931e14","order":1,"disp":false,"width":30,"collapse":false},{"id":"6fb320ae.aa37","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"bdb0cb11.2d6678","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"796fc157.5f17c","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"40158a.3ebb5a78","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"39c44682.9d994a","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"9fb7e54c.c79d28","type":"ui_spacer","name":"spacer","group":"","order":10,"width":25,"height":1},{"id":"cf52fcd2.72c5","type":"ui_spacer","name":"spacer","group":"","order":12,"width":1,"height":1},{"id":"dbc9ff16.7dd39","type":"ui_spacer","name":"spacer","group":"","order":15,"width":1,"height":1},{"id":"b3871b4e.849ec8","type":"ui_spacer","name":"spacer","group":"","order":16,"width":1,"height":1},{"id":"94617bf8.caf5d8","type":"ui_spacer","name":"spacer","group":"","order":17,"width":1,"height":1},{"id":"8de27d54.7a39e","type":"ui_spacer","name":"spacer","group":"","order":19,"width":1,"height":1},{"id":"f13473d1.7dbec","type":"ui_spacer","name":"spacer","group":"","order":20,"width":25,"height":1},{"id":"bb6f3d8f.b6ab7","type":"ui_group","z":"","name":"Granja","tab":"b45ad8ed.9a3668","order":2,"disp":false,"width":15,"collapse":false},{"id":"f306ef72.c8016","type":"ui_group","z":"","name":"Granja","tab":"8998a8b4.65cbd8","order":2,"disp":false,"width":15,"collapse":false},{"id":"c285df16.15cde","type":"ui_group","z":"","name":"Granja","tab":"36056618.580baa","order":2,"disp":false,"width":15,"collapse":false},{"id":"a6c85b2e.f01f18","type":"ui_group","z":"","name":"Granja","tab":"ef389ea1.5ae6e","order":2,"disp":false,"width":15,"collapse":false},{"id":"6435aa01.8c02b4","type":"ui_group","z":"","name":"Granja","tab":"e4c3047c.185dc8","order":2,"disp":false,"width":15,"collapse":false},{"id":"b45ad8ed.9a3668","type":"ui_tab","z":"","name":"Mas Badosa","icon":"local_florist","order":5,"disabled":false,"hidden":false},{"id":"8998a8b4.65cbd8","type":"ui_tab","z":"","name":"Mas Colom","icon":"local_florist","order":6,"disabled":false,"hidden":false},{"id":"36056618.580baa","type":"ui_tab","z":"","name":"Can Siset","icon":"local_florist","order":7,"disabled":false,"hidden":false},{"id":"ef389ea1.5ae6e","type":"ui_tab","z":"","name":"Mas Almar","icon":"local_florist","order":8,"disabled":false,"hidden":false},{"id":"e4c3047c.185dc8","type":"ui_tab","z":"","name":"Mas Gener","icon":"local_florist","order":9,"disabled":false,"hidden":false},{"id":"dd41a7ad.972fb8","type":"ui_group","z":"","name":"Vacas","tab":"b45ad8ed.9a3668","order":1,"disp":false,"width":"14","collapse":false},{"id":"ae432b2f.d4e4e8","type":"ui_group","z":"","name":"Vacas","tab":"8998a8b4.65cbd8","order":1,"disp":false,"width":"14","collapse":false},{"id":"c5836ff.a8af69","type":"ui_group","z":"","name":"Vacas","tab":"36056618.580baa","order":1,"disp":false,"width":"14","collapse":false},{"id":"be3c6a38.901158","type":"ui_group","z":"","name":"Vacas","tab":"e4c3047c.185dc8","order":1,"disp":false,"width":"14","collapse":false},{"id":"a2c1b71.8611348","type":"ui_group","z":"","name":"Vacas","tab":"ef389ea1.5ae6e","order":1,"disp":false,"width":"14","collapse":false},{"id":"cc34c0f0.7da2a","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":2,"width":7,"height":1},{"id":"eb3f3a5a.63c688","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":3,"width":7,"height":1},{"id":"4646247.dab23dc","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":4,"width":7,"height":1},{"id":"cbf14649.88e2a8","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":6,"width":1,"height":1},{"id":"ff72b461.d07c68","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":7,"width":1,"height":1},{"id":"b8187519.7f2218","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":8,"width":1,"height":1},{"id":"7a07fe7b.60313","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":9,"width":1,"height":1},{"id":"a4ae88cd.be16e8","type":"ui_spacer","name":"spacer","group":"a7bf3de.baf8ec","order":10,"width":1,"height":1},{"id":"e7d0c473.0beaa8","type":"ui_spacer","name":"spacer","group":"adb89d5d.3c9a2","order":1,"width":1,"height":1},{"id":"310944e5.bd4a6c","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":3,"width":1,"height":1},{"id":"84228aa6.72a018","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":6,"width":1,"height":1},{"id":"99a07059.7e28e","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":7,"width":1,"height":1},{"id":"9441f913.f1d818","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":8,"width":1,"height":1},{"id":"69eafec8.acf7a","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":9,"width":1,"height":1},{"id":"3e4a1f88.8483","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":12,"width":1,"height":1},{"id":"1d37aad.e58cf55","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":13,"width":1,"height":1},{"id":"4c897ae6.d37684","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":14,"width":1,"height":1},{"id":"190fc4a9.92b4eb","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":15,"width":1,"height":1},{"id":"44beca4.96a4634","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":18,"width":1,"height":1},{"id":"bf542b44.60c7a8","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":19,"width":1,"height":1},{"id":"3ad0bb04.6371c4","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":20,"width":1,"height":1},{"id":"487ccb9c.a7b554","type":"ui_spacer","name":"spacer","group":"74c7f6d7.20b298","order":21,"width":1,"height":1},{"id":"85dbdfef.69508","type":"ui_spacer","name":"spacer","group":"1db31de6.c18872","order":8,"width":4,"height":1},{"id":"1ba067ac.f289e8","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":2,"width":2,"height":1},{"id":"eaa426e9.d4fef8","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":4,"width":2,"height":1},{"id":"9c5bc6db.23a278","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":6,"width":2,"height":1},{"id":"b23acf0e.8add8","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":8,"width":2,"height":1},{"id":"8837c59a.97f158","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":10,"width":2,"height":1},{"id":"f6f45b99.fba3f8","type":"ui_spacer","name":"spacer","group":"9b9b0172.13fb9","order":12,"width":2,"height":1},{"id":"c21ae579.f06d58","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"c59299e3.32e7e8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"5d23ceb5.fa3fe","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"bd88a84a.b5ddf8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"dbe8e076.ac05","type":"ui_spacer","name":"spacer","group":"","order":12,"width":30,"height":1},{"id":"6addac1a.10d094","type":"ui_spacer","name":"spacer","group":"","order":13,"width":3,"height":1},{"id":"1768fb4d.a47645","type":"ui_spacer","name":"spacer","group":"","order":16,"width":8,"height":1},{"id":"19e1ecc9.8f2893","type":"ui_spacer","name":"spacer","group":"","order":19,"width":3,"height":1},{"id":"d95f607.2c378a","type":"ui_spacer","name":"spacer","group":"","order":20,"width":3,"height":1},{"id":"313f304b.65024","type":"ui_spacer","name":"spacer","group":"","order":21,"width":8,"height":1},{"id":"bd94bd02.bf356","type":"ui_spacer","name":"spacer","group":"","order":22,"width":3,"height":1},{"id":"5db315a2.d40a0c","type":"ui_spacer","name":"spacer","group":"","order":23,"width":30,"height":1},{"id":"b20ba8a4.a6d458","type":"ui_spacer","name":"spacer","group":"","order":24,"width":3,"height":1},{"id":"8704ecd1.f1475","type":"ui_spacer","name":"spacer","group":"","order":26,"width":1,"height":1},{"id":"ebd1a1bd.d22d3","type":"ui_spacer","name":"spacer","group":"","order":28,"width":4,"height":1},{"id":"dc42d961.5301d8","type":"ui_spacer","name":"spacer","group":"","order":30,"width":1,"height":1},{"id":"ef43edb1.b1d93","type":"ui_spacer","name":"spacer","group":"","order":32,"width":1,"height":1},{"id":"43e526e2.8431e8","type":"ui_spacer","name":"spacer","group":"","order":33,"width":5,"height":1},{"id":"bc457822.0b84e8","type":"ui_spacer","name":"spacer","group":"","order":35,"width":10,"height":1},{"id":"5ff46f41.48a88","type":"ui_spacer","name":"spacer","group":"","order":37,"width":5,"height":1},{"id":"2257eb84.aac264","type":"sqlitedb","z":"","db":"/data/BBDD_RASP","mode":"RWC"},{"id":"240282b4.1e6ece","type":"ui_group","z":"","name":"Group 1","tab":"81e5cb0f.df5c68","order":1,"disp":false,"width":"30","collapse":false},{"id":"81e5cb0f.df5c68","type":"ui_tab","z":"","name":"Climatización Planta","icon":"fa-thermometer-half","order":3,"disabled":false,"hidden":false},{"id":"829e604f.7057e","type":"ui_tab","z":"","name":"Estado General","icon":"fa-check-square-o","order":1,"disabled":false,"hidden":false},{"id":"eb730bd0.25cf08","type":"ui_group","z":"","name":"Planta","tab":"829e604f.7057e","order":1,"disp":true,"width":14,"collapse":false},{"id":"395570a2.370a7","type":"ui_tab","z":"","name":"Alarmas","icon":"fa-exclamation-triangle","order":10,"disabled":false,"hidden":false},{"id":"16092989.486e96","type":"ui_group","z":"","name":"Alarmas Internas","tab":"395570a2.370a7","order":1,"disp":true,"width":14,"collapse":false},{"id":"ac399f07.1f696","type":"ui_group","z":"","name":"Alarmas Externas","tab":"395570a2.370a7","order":2,"disp":true,"width":14,"collapse":false},{"id":"19771d47.7676d3","type":"ui_tab","z":"","name":"Consumos","icon":"fa-industry","order":2,"disabled":false,"hidden":false},{"id":"80b3646c.7ac5a8","type":"ui_group","z":"","name":"Máquinas","tab":"19771d47.7676d3","order":1,"disp":true,"width":14,"collapse":false},{"id":"f87a28c3.83c028","type":"telegram bot","z":"","botname":"Adriana20_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1a8068c5.77aff7","type":"ui_group","z":"","name":"Granja","tab":"829e604f.7057e","order":2,"disp":true,"width":14,"collapse":false},{"id":"d70b266c.0b22f8","type":"ui_group","z":"","name":"Máquinas de Clima","tab":"19771d47.7676d3","order":2,"disp":true,"width":"14","collapse":false},{"id":"f0fad47a.f2fd68","type":"ui_spacer","name":"spacer","group":"80b3646c.7ac5a8","order":5,"width":14,"height":1},{"id":"aa71e51b.5597a8","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":3,"width":4,"height":1},{"id":"a7f75bfb.509888","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":5,"width":3,"height":1},{"id":"41cc5299.5408cc","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":6,"width":4,"height":1},{"id":"bfee46b3.ea8b68","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":7,"width":3,"height":1},{"id":"863430f0.a6839","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":8,"width":4,"height":1},{"id":"a7d6868.4388678","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":9,"width":3,"height":1},{"id":"fa0446ec.a0ac68","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":10,"width":4,"height":1},{"id":"bf5fe69e.8e0038","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":11,"width":3,"height":1},{"id":"69d82a59.9d7924","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":12,"width":4,"height":1},{"id":"3ea45dd1.095032","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":13,"width":3,"height":1},{"id":"fd590b54.4d55c8","type":"ui_spacer","name":"spacer","group":"d70b266c.0b22f8","order":14,"width":14,"height":1},{"id":"fd5c2a7d.44de48","type":"ui_spacer","name":"spacer","group":"be3c6a38.901158","order":2,"width":2,"height":1},{"id":"9e53eb3d.0f4068","type":"ui_spacer","name":"spacer","group":"be3c6a38.901158","order":4,"width":2,"height":1},{"id":"181022f7.2793fd","type":"ui_spacer","name":"spacer","group":"6435aa01.8c02b4","order":1,"width":1,"height":1},{"id":"6a0f2dd9.2f3f34","type":"ui_spacer","name":"spacer","group":"6435aa01.8c02b4","order":4,"width":1,"height":1},{"id":"54b5684e.000778","type":"ui_spacer","name":"spacer","group":"6435aa01.8c02b4","order":5,"width":1,"height":1},{"id":"cca179e4.69a4f8","type":"ui_spacer","name":"spacer","group":"6435aa01.8c02b4","order":6,"width":1,"height":1},{"id":"65602bfb.838ca4","type":"ui_spacer","name":"spacer","group":"6435aa01.8c02b4","order":7,"width":1,"height":1},{"id":"2cecaf0b.2e672","type":"ui_spacer","name":"spacer","group":"6435aa01.8c02b4","order":8,"width":15,"height":1},{"id":"df3d252d.83ccf8","type":"ui_spacer","name":"spacer","group":"6435aa01.8c02b4","order":10,"width":15,"height":1},{"id":"222f85a4.dabd2a","type":"ui_spacer","name":"spacer","group":"a2c1b71.8611348","order":2,"width":2,"height":1},{"id":"ea545e2e.a2abe","type":"ui_spacer","name":"spacer","group":"a2c1b71.8611348","order":4,"width":2,"height":1},{"id":"95eb20bb.8b534","type":"ui_spacer","name":"spacer","group":"a6c85b2e.f01f18","order":1,"width":1,"height":1},{"id":"a50861b5.c9395","type":"ui_spacer","name":"spacer","group":"a6c85b2e.f01f18","order":4,"width":1,"height":1},{"id":"a15dff23.dbeee","type":"ui_spacer","name":"spacer","group":"a6c85b2e.f01f18","order":5,"width":1,"height":1},{"id":"7a8200fe.34b6d","type":"ui_spacer","name":"spacer","group":"a6c85b2e.f01f18","order":6,"width":1,"height":1},{"id":"3ad823c2.d48bac","type":"ui_spacer","name":"spacer","group":"a6c85b2e.f01f18","order":7,"width":1,"height":1},{"id":"35fd931b.6177fc","type":"ui_spacer","name":"spacer","group":"a6c85b2e.f01f18","order":8,"width":15,"height":1},{"id":"2c5169c2.d85766","type":"ui_spacer","name":"spacer","group":"a6c85b2e.f01f18","order":10,"width":15,"height":1},{"id":"6a0774e7.ecfe4c","type":"ui_spacer","name":"spacer","group":"c5836ff.a8af69","order":2,"width":2,"height":1},{"id":"de1d0330.b85d4","type":"ui_spacer","name":"spacer","group":"c5836ff.a8af69","order":4,"width":2,"height":1},{"id":"38da491a.47ef96","type":"ui_spacer","name":"spacer","group":"c285df16.15cde","order":1,"width":1,"height":1},{"id":"aad4b898.7c2ef8","type":"ui_spacer","name":"spacer","group":"c285df16.15cde","order":4,"width":1,"height":1},{"id":"50582185.5cda3","type":"ui_spacer","name":"spacer","group":"c285df16.15cde","order":5,"width":1,"height":1},{"id":"624eeb32.21d004","type":"ui_spacer","name":"spacer","group":"c285df16.15cde","order":6,"width":1,"height":1},{"id":"a3cb7124.17799","type":"ui_spacer","name":"spacer","group":"c285df16.15cde","order":7,"width":1,"height":1},{"id":"54b8472b.26c358","type":"ui_spacer","name":"spacer","group":"c285df16.15cde","order":8,"width":15,"height":1},{"id":"55fef345.c57ecc","type":"ui_spacer","name":"spacer","group":"c285df16.15cde","order":10,"width":15,"height":1},{"id":"e8031fd2.a352f","type":"ui_spacer","name":"spacer","group":"ae432b2f.d4e4e8","order":2,"width":2,"height":1},{"id":"f587d090.ff3db","type":"ui_spacer","name":"spacer","group":"ae432b2f.d4e4e8","order":4,"width":2,"height":1},{"id":"81da1d39.3bdee","type":"ui_spacer","name":"spacer","group":"f306ef72.c8016","order":1,"width":1,"height":1},{"id":"8f0e23f7.189a8","type":"ui_spacer","name":"spacer","group":"f306ef72.c8016","order":4,"width":1,"height":1},{"id":"6027d4de.87b2dc","type":"ui_spacer","name":"spacer","group":"f306ef72.c8016","order":5,"width":1,"height":1},{"id":"85292ad4.7c2bb8","type":"ui_spacer","name":"spacer","group":"f306ef72.c8016","order":6,"width":1,"height":1},{"id":"763c8526.edd68c","type":"ui_spacer","name":"spacer","group":"f306ef72.c8016","order":7,"width":1,"height":1},{"id":"cedabc7b.cff97","type":"ui_spacer","name":"spacer","group":"f306ef72.c8016","order":8,"width":15,"height":1},{"id":"95b4965b.1031e8","type":"ui_spacer","name":"spacer","group":"f306ef72.c8016","order":10,"width":15,"height":1},{"id":"217520f5.14d96","type":"ui_spacer","name":"spacer","group":"dd41a7ad.972fb8","order":2,"width":2,"height":1},{"id":"1fd2ed57.063033","type":"ui_spacer","name":"spacer","group":"dd41a7ad.972fb8","order":4,"width":2,"height":1},{"id":"3acc5409.9c419c","type":"ui_spacer","name":"spacer","group":"bb6f3d8f.b6ab7","order":1,"width":1,"height":1},{"id":"df8491f5.54efc","type":"ui_spacer","name":"spacer","group":"bb6f3d8f.b6ab7","order":4,"width":1,"height":1},{"id":"ec76c212.90743","type":"ui_spacer","name":"spacer","group":"bb6f3d8f.b6ab7","order":5,"width":1,"height":1},{"id":"569546e.30d33b8","type":"ui_spacer","name":"spacer","group":"bb6f3d8f.b6ab7","order":6,"width":1,"height":1},{"id":"71329f30.e9c8e","type":"ui_spacer","name":"spacer","group":"bb6f3d8f.b6ab7","order":7,"width":1,"height":1},{"id":"6ed65a35.ac8054","type":"ui_spacer","name":"spacer","group":"bb6f3d8f.b6ab7","order":8,"width":15,"height":1},{"id":"14e82c17.04e5c4","type":"ui_spacer","name":"spacer","group":"bb6f3d8f.b6ab7","order":10,"width":15,"height":1},{"id":"d5d54d60.00377","type":"ui_spacer","name":"spacer","group":"62c9b314.487d5c","order":1,"width":2,"height":1},{"id":"ecb0f05b.2f328","type":"ui_spacer","name":"spacer","group":"62c9b314.487d5c","order":3,"width":2,"height":1},{"id":"b39b6b16.49f9c8","type":"ui_spacer","name":"spacer","group":"62c9b314.487d5c","order":4,"width":2,"height":1},{"id":"fe355f42.3fa2","type":"ui_spacer","name":"spacer","group":"62c9b314.487d5c","order":5,"width":2,"height":1},{"id":"983377ab.a296a8","type":"ui_spacer","name":"spacer","group":"62c9b314.487d5c","order":6,"width":2,"height":1},{"id":"2abe889a.466818","type":"ui_spacer","name":"spacer","group":"62c9b314.487d5c","order":7,"width":2,"height":1},{"id":"e26bdea1.ea85d","type":"ui_spacer","name":"spacer","group":"62c9b314.487d5c","order":8,"width":2,"height":1},{"id":"8512389c.0903a8","type":"ui_spacer","name":"spacer","group":"62c9b314.487d5c","order":9,"width":2,"height":1},{"id":"d7c58961.a0f3f8","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":1,"width":4,"height":1},{"id":"1404568e.9397f9","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":4,"width":6,"height":1},{"id":"f841e477.087308","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":7,"width":4,"height":1},{"id":"390dd5ab.5714ba","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":8,"width":4,"height":1},{"id":"711bd8d.b4c8328","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":9,"width":6,"height":1},{"id":"927f3759.3401a8","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":10,"width":4,"height":1},{"id":"775c1bc4.ee5ae4","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":11,"width":4,"height":1},{"id":"b31542ac.b9243","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":12,"width":6,"height":1},{"id":"cb228c1f.0c4c6","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":13,"width":4,"height":1},{"id":"64506e39.6ae8d","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":18,"width":8,"height":1},{"id":"abe53209.8329e","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":20,"width":7,"height":1},{"id":"a968f6ce.123118","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":21,"width":8,"height":1},{"id":"fe6cbbf9.c48fe8","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":22,"width":7,"height":1},{"id":"38b9a0e0.42d3","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":23,"width":8,"height":1},{"id":"acf264d4.a146b8","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":24,"width":7,"height":1},{"id":"24a592d.0163f6e","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":25,"width":8,"height":1},{"id":"2c934305.29bffc","type":"ui_spacer","name":"spacer","group":"240282b4.1e6ece","order":26,"width":7,"height":1},{"id":"32e085c.eadc17a","type":"ui_spacer","name":"spacer","group":"eb730bd0.25cf08","order":1,"width":3,"height":1},{"id":"8b0cd149.d80ec","type":"ui_spacer","name":"spacer","group":"eb730bd0.25cf08","order":3,"width":3,"height":1},{"id":"4271c795.644398","type":"ui_spacer","name":"spacer","group":"eb730bd0.25cf08","order":11,"width":7,"height":1},{"id":"4b57c105.0a0f2","type":"ui_spacer","name":"spacer","group":"eb730bd0.25cf08","order":12,"width":4,"height":1},{"id":"d41c57ba.a08ef8","type":"ui_spacer","name":"spacer","group":"eb730bd0.25cf08","order":14,"width":3,"height":1},{"id":"c4b37eb8.2c9bb","type":"ui_spacer","name":"spacer","group":"eb730bd0.25cf08","order":15,"width":4,"height":1},{"id":"30496642.9c44ea","type":"ui_spacer","name":"spacer","group":"eb730bd0.25cf08","order":17,"width":3,"height":1},{"id":"69558f3b.f685e","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":1,"width":3,"height":1},{"id":"c2396536.890848","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":3,"width":3,"height":1},{"id":"f71d3cb8.ebe92","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":4,"width":2,"height":1},{"id":"3e29e547.b7edaa","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":7,"width":1,"height":1},{"id":"315308d6.71a4a8","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":8,"width":2,"height":1},{"id":"d521b3b4.e1917","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":11,"width":1,"height":1},{"id":"eac0461d.7a5e98","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":12,"width":2,"height":1},{"id":"6e626ca3.98ab14","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":15,"width":1,"height":1},{"id":"754d11e4.69a51","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":16,"width":2,"height":1},{"id":"cd90dfad.b1cde","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":19,"width":1,"height":1},{"id":"12309b56.c7e1e5","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":20,"width":2,"height":1},{"id":"6bb1d568.b84aac","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":23,"width":1,"height":1},{"id":"282cc6a4.333bba","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":24,"width":11,"height":1},{"id":"d37de321.ee247","type":"ui_spacer","name":"spacer","group":"1a8068c5.77aff7","order":26,"width":1,"height":1},{"id":"16c725ac.25d72a","type":"mqtt-broker","z":"","name":"","broker":"10.20.60.5","port":"1313","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dae73358.23ce7","type":"telegram bot","z":"","botname":"Espressif_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"24783e84.a23a82","type":"telegram bot","z":"","botname":"Espressif_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"700cc2d3.01b8cc","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.59","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6df7a873.990458","type":"ui_group","z":"","name":"Granja","tab":"28e29c6b.0b0db4","order":2,"disp":true,"width":16,"collapse":false},{"id":"28e29c6b.0b0db4","type":"ui_tab","z":"","name":"Mas Colom","icon":"local_florist","order":4,"disabled":false,"hidden":false},{"id":"ae6046aa.b3dd18","type":"function","z":"6584933b.6ac07c","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = global.get(\"MasColom\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[44].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":520,"y":1060,"wires":[["c4a6278c.682e88"],["c4a6278c.682e88"]]},{"id":"9353d7dd.094608","type":"function","z":"6584933b.6ac07c","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = global.get(\"MasBadosa\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[49].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":520,"y":160,"wires":[["112c5f2b.54a931"],["112c5f2b.54a931"]]},{"id":"fbca958d.f669e8","type":"function","z":"6584933b.6ac07c","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = global.get(\"MasGener\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[39].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":1840,"y":580,"wires":[["88a9beae.521e"],["88a9beae.521e"]]},{"id":"1f0c7af0.0b0d15","type":"function","z":"6584933b.6ac07c","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = global.get(\"CanSiset\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[41].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":1840,"y":160,"wires":[["be95bdf0.133f1"],["be95bdf0.133f1"]]},{"id":"46a18545.878efc","type":"function","z":"6584933b.6ac07c","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = global.get(\"MasAlmar\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    granja.vacas[51].icon = \":skull:\"\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":540,"y":600,"wires":[["60d10f9f.70a44"],["60d10f9f.70a44"]]},{"id":"68476c64.6d36a4","type":"worldmap in","z":"6584933b.6ac07c","name":"","path":"/map/mas_gener_","events":"","x":1440,"y":580,"wires":[["fbca958d.f669e8"]]},{"id":"a7a2a712.e11008","type":"worldmap in","z":"6584933b.6ac07c","name":"","path":"/map/mas_colom_","events":"","x":130,"y":1060,"wires":[["ae6046aa.b3dd18"]]},{"id":"8e5c7483.e553d8","type":"worldmap in","z":"6584933b.6ac07c","name":"","path":"/map/mas_badosa_","events":"","x":150,"y":160,"wires":[["9353d7dd.094608"]]},{"id":"dc4fdbeb.85e968","type":"worldmap in","z":"6584933b.6ac07c","name":"","path":"/map/can_siset_","events":"","x":1460,"y":160,"wires":[["1f0c7af0.0b0d15"]]},{"id":"58512c15.2d0354","type":"worldmap in","z":"6584933b.6ac07c","name":"","path":"/map/mas_almar_","events":"","x":140,"y":600,"wires":[["46a18545.878efc"]]},{"id":"112c5f2b.54a931","type":"ui_worldmap","z":"6584933b.6ac07c","group":"c356825b.6dc0e","order":1,"width":14,"height":14,"name":"Mas Badosa","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_badosa_","x":970,"y":160,"wires":[]},{"id":"be95bdf0.133f1","type":"ui_worldmap","z":"6584933b.6ac07c","group":"315b5d5d.e83e02","order":1,"width":14,"height":14,"name":"Can Siset","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/can_siset_","x":2280,"y":160,"wires":[]},{"id":"60d10f9f.70a44","type":"ui_worldmap","z":"6584933b.6ac07c","group":"26bf9273.cc34ee","order":1,"width":14,"height":14,"name":"Mas Almar","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_almar_","x":970,"y":600,"wires":[]},{"id":"88a9beae.521e","type":"ui_worldmap","z":"6584933b.6ac07c","group":"2e9dba87.607d26","order":1,"width":14,"height":14,"name":"Mas Gener","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/map/mas_gener_","x":2290,"y":580,"wires":[]},{"id":"9b20a0e7.15aaf","type":"ui_chart","z":"685b23f6.ffabfc","name":"","group":"bb6f3d8f.b6ab7","order":11,"width":15,"height":8,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":120,"wires":[[]]},{"id":"faf16fd2.f5ff8","type":"comment","z":"685b23f6.ffabfc","name":"Mas Badosa","info":"","x":90,"y":60,"wires":[]},{"id":"f5987728.9d7918","type":"ui_gauge","z":"685b23f6.ffabfc","name":"Temp Cuba","group":"bb6f3d8f.b6ab7","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":695,"y":160,"wires":[],"l":false},{"id":"edc97dc5.52fbe","type":"ui_gauge","z":"685b23f6.ffabfc","name":"Litros Cuba","group":"bb6f3d8f.b6ab7","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":915,"y":280,"wires":[],"l":false},{"id":"4167fcb3.2c8c94","type":"ui_toast","z":"685b23f6.ffabfc","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":690,"y":80,"wires":[[]]},{"id":"812fbc5b.81a71","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":420,"wires":[["bb3b88b4.efa868"]]},{"id":"465c7d0c.e25f44","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["bb3b88b4.efa868"]]},{"id":"c0866410.2b0778","type":"switch","z":"685b23f6.ffabfc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":80,"wires":[["4167fcb3.2c8c94"]]},{"id":"b87eda7d.908168","type":"inject","z":"685b23f6.ffabfc","name":"Litros Cuba","topic":"Mas Badosa","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":280,"wires":[["edc97dc5.52fbe","5c61fc5.6da1204"]]},{"id":"b957d783.a55368","type":"inject","z":"685b23f6.ffabfc","name":"Temp Cuba","topic":"Mas Badosa","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":160,"wires":[["f5987728.9d7918"]]},{"id":"83f33306.30895","type":"comment","z":"685b23f6.ffabfc","name":"Mas Colom","info":"","x":1470,"y":40,"wires":[]},{"id":"8cffc96d.296168","type":"ui_chart","z":"685b23f6.ffabfc","name":"","group":"f306ef72.c8016","order":11,"width":15,"height":6,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2040,"y":100,"wires":[[]]},{"id":"9b513929.203888","type":"ui_gauge","z":"685b23f6.ffabfc","name":"","group":"f306ef72.c8016","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1955,"y":160,"wires":[],"l":false},{"id":"d56ac585.b31198","type":"ui_gauge","z":"685b23f6.ffabfc","name":"","group":"f306ef72.c8016","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1955,"y":220,"wires":[],"l":false},{"id":"e5b9881.b22a678","type":"ui_toast","z":"685b23f6.ffabfc","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":2030,"y":60,"wires":[[]]},{"id":"4e60592b.547308","type":"switch","z":"685b23f6.ffabfc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1810,"y":60,"wires":[["e5b9881.b22a678"]]},{"id":"d916e932.80fa38","type":"comment","z":"685b23f6.ffabfc","name":"Can Siset","info":"","x":100,"y":600,"wires":[]},{"id":"e7ff62e1.2b338","type":"ui_chart","z":"685b23f6.ffabfc","name":"","group":"c285df16.15cde","order":11,"width":15,"height":8,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":660,"wires":[[]]},{"id":"6111cec0.8fa27","type":"ui_gauge","z":"685b23f6.ffabfc","name":"","group":"c285df16.15cde","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":595,"y":720,"wires":[],"l":false},{"id":"655b99c8.059248","type":"ui_gauge","z":"685b23f6.ffabfc","name":"","group":"c285df16.15cde","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":595,"y":780,"wires":[],"l":false},{"id":"cd171b92.ed8688","type":"ui_toast","z":"685b23f6.ffabfc","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":650,"y":620,"wires":[[]]},{"id":"3eb9dd2e.ab5cf2","type":"switch","z":"685b23f6.ffabfc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":620,"wires":[["cd171b92.ed8688"]]},{"id":"bb2d5891.4ca288","type":"comment","z":"685b23f6.ffabfc","name":"Mas Almar ","info":"","x":1480,"y":580,"wires":[]},{"id":"e5db56c0.b947d8","type":"ui_chart","z":"685b23f6.ffabfc","name":"","group":"a6c85b2e.f01f18","order":11,"width":15,"height":6,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2040,"y":640,"wires":[[]]},{"id":"f3e8f95a.49c798","type":"ui_gauge","z":"685b23f6.ffabfc","name":"","group":"a6c85b2e.f01f18","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1955,"y":700,"wires":[],"l":false},{"id":"c587dda7.a36a5","type":"ui_gauge","z":"685b23f6.ffabfc","name":"","group":"a6c85b2e.f01f18","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1955,"y":760,"wires":[],"l":false},{"id":"cc359bf4.e91278","type":"ui_toast","z":"685b23f6.ffabfc","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":2030,"y":600,"wires":[[]]},{"id":"5fcfc2ad.9b305c","type":"switch","z":"685b23f6.ffabfc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1850,"y":600,"wires":[["cc359bf4.e91278"]]},{"id":"bbd92050.8a88a","type":"comment","z":"685b23f6.ffabfc","name":"Mas Gener","info":"","x":820,"y":1220,"wires":[]},{"id":"d6077264.4dbe","type":"ui_chart","z":"685b23f6.ffabfc","name":"","group":"6435aa01.8c02b4","order":11,"width":15,"height":6,"label":"Temperatura Granja","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1400,"y":1280,"wires":[[]]},{"id":"c9df2348.38b02","type":"ui_gauge","z":"685b23f6.ffabfc","name":"","group":"6435aa01.8c02b4","order":2,"width":8,"height":5,"gtype":"donut","title":"Temperatura Cuba","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1315,"y":1320,"wires":[],"l":false},{"id":"90a1e31f.62d9f","type":"ui_gauge","z":"685b23f6.ffabfc","name":"","group":"6435aa01.8c02b4","order":3,"width":6,"height":5,"gtype":"wave","title":"Capacidad Cuba","label":"l","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1315,"y":1360,"wires":[],"l":false},{"id":"9e945990.36d628","type":"ui_toast","z":"685b23f6.ffabfc","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Alerta Temperatura Granja","name":"Alerta Temperatura","x":1390,"y":1240,"wires":[[]]},{"id":"9c241524.872cf8","type":"switch","z":"685b23f6.ffabfc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":1240,"wires":[["9e945990.36d628"]]},{"id":"c4a6278c.682e88","type":"ui_worldmap","z":"6584933b.6ac07c","group":"5c815c49.edacf4","order":1,"width":14,"height":14,"name":"Mas Colom","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_colom_","x":970,"y":1060,"wires":[]},{"id":"213daef4.5e22a2","type":"inject","z":"685b23f6.ffabfc","name":"Temp Granja","topic":"Mas Badosa","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":120,"wires":[["5d710c48.a8b844"]]},{"id":"b22d7aaf.bad4a8","type":"inject","z":"685b23f6.ffabfc","name":"Litros Cuba","topic":"Mas Colom","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1550,"y":220,"wires":[["d56ac585.b31198","4a122f33.a81f1"]]},{"id":"4018bda6.d027f4","type":"inject","z":"685b23f6.ffabfc","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1550,"y":160,"wires":[["9b513929.203888"]]},{"id":"f8aec815.3e3d58","type":"inject","z":"685b23f6.ffabfc","name":"Litros Cuba","topic":"Can Siset","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":210,"y":780,"wires":[["655b99c8.059248","4a10d3a9.52447c"]]},{"id":"44569828.1dff18","type":"inject","z":"685b23f6.ffabfc","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":210,"y":720,"wires":[["6111cec0.8fa27"]]},{"id":"f6b665c2.1a7138","type":"inject","z":"685b23f6.ffabfc","name":"Litros Cuba","topic":"Mas Almar","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1590,"y":760,"wires":[["c587dda7.a36a5","997b8dad.c150e"]]},{"id":"2c82fb3d.983c24","type":"inject","z":"685b23f6.ffabfc","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1590,"y":700,"wires":[["f3e8f95a.49c798"]]},{"id":"4faedb2b.e4a2a4","type":"inject","z":"685b23f6.ffabfc","name":"Litros Cuba","topic":"Mas Gener","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":910,"y":1360,"wires":[["90a1e31f.62d9f","cbc5be31.8d245"]]},{"id":"f29cd923.6ef488","type":"inject","z":"685b23f6.ffabfc","name":"Temp Cuba","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":910,"y":1320,"wires":[["c9df2348.38b02"]]},{"id":"f89b4c8b.5984f","type":"comment","z":"6584933b.6ac07c","name":"Mas Badosa","info":"","x":90,"y":100,"wires":[]},{"id":"780744e4.89a19c","type":"comment","z":"6584933b.6ac07c","name":"Mas Almar","info":"","x":80,"y":540,"wires":[]},{"id":"1406ab2a.21bf75","type":"comment","z":"6584933b.6ac07c","name":"Mas Colom","info":"","x":90,"y":1000,"wires":[]},{"id":"921589fc.968ad8","type":"comment","z":"6584933b.6ac07c","name":"Can Siset","info":"","x":1400,"y":100,"wires":[]},{"id":"71839def.b07484","type":"comment","z":"6584933b.6ac07c","name":"Mas Gener","info":"","x":1400,"y":520,"wires":[]},{"id":"45de0b4d.4aff04","type":"inject","z":"6584933b.6ac07c","name":"","topic":"MasColom","payload":"45","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":1120,"wires":[["feb00374.0e741","795425bc.12c61c"]]},{"id":"168b86b.6901279","type":"function","z":"6584933b.6ac07c","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1120,"wires":[["64ae1137.88fde"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"feb00374.0e741","type":"function","z":"6584933b.6ac07c","name":"show vacas","func":"var granja = global.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1120,"wires":[["168b86b.6901279"]]},{"id":"64ae1137.88fde","type":"function","z":"6584933b.6ac07c","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = global.get(msg.topic)\n\ngranja.vacas = cows\n\nglobal.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1120,"wires":[["c4a6278c.682e88"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"46c60fba.69dbc","type":"inject","z":"6584933b.6ac07c","name":"","topic":"MasAlmar","payload":"52","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":660,"wires":[["1fc3a908.a14f27","18a362c1.30288d"]]},{"id":"dae561f1.3ff75","type":"function","z":"6584933b.6ac07c","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["b27ee0ee.fe163"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"1fc3a908.a14f27","type":"function","z":"6584933b.6ac07c","name":"show vacas","func":"var granja = global.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":660,"wires":[["dae561f1.3ff75"]]},{"id":"b27ee0ee.fe163","type":"function","z":"6584933b.6ac07c","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = global.get(msg.topic)\n\ngranja.vacas = cows\n\nglobal.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":660,"wires":[["60d10f9f.70a44"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"b096c63a.a71b78","type":"inject","z":"6584933b.6ac07c","name":"","topic":"CanSiset","payload":"42","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1450,"y":220,"wires":[["2c7f3cef.0831d4","5cb6fc7b.2660c4"]]},{"id":"ebf38fd2.4b5d2","type":"function","z":"6584933b.6ac07c","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":220,"wires":[["37213be2.24b4e4"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"2c7f3cef.0831d4","type":"function","z":"6584933b.6ac07c","name":"show vacas","func":"var granja = global.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":220,"wires":[["ebf38fd2.4b5d2"]]},{"id":"37213be2.24b4e4","type":"function","z":"6584933b.6ac07c","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\nmsg.payload.points = cows;\n\nvar granja = global.get(msg.topic)\n\ngranja.vacas = cows\n\nglobal.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":220,"wires":[["be95bdf0.133f1"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"88cff527.9b2f18","type":"inject","z":"6584933b.6ac07c","name":"","topic":"MasGener","payload":"40","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1440,"y":640,"wires":[["6ed2875f.0a8858","f8f91bba.3ea818"]]},{"id":"4921bfee.553c3","type":"function","z":"6584933b.6ac07c","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":640,"wires":[["5b42c45.8859f3c"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"6ed2875f.0a8858","type":"function","z":"6584933b.6ac07c","name":"show vacas","func":"var granja = global.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":640,"wires":[["4921bfee.553c3"]]},{"id":"5b42c45.8859f3c","type":"function","z":"6584933b.6ac07c","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\nmsg.payload.points = cows;\n\nvar granja = global.get(msg.topic)\n\ngranja.vacas = cows\n\nglobal.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":640,"wires":[["88a9beae.521e"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"d38d5b72.03fe58","type":"inject","z":"6584933b.6ac07c","name":"","topic":"MasBadosa","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":220,"wires":[["ea2c192d.58f168","bc311813.fd9648"]]},{"id":"af00f2f2.c4dce","type":"function","z":"6584933b.6ac07c","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    msg.payload.points.push([random_x, random_y]);\n    \n   \n}\n\ndelete msg.payload.number_points;\n\nreturn msg;\n\n\n /*\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        //var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n        //if (intersect) inside = !inside;\n        inside = !inside;\n    }  \n    if (inside) msg.payload.points.push([random_x, random_y]);\n    // msg.payload.points.push([random_x, random_y]);\n    \n    */","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["8795f898.d0aa98"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"ea2c192d.58f168","type":"function","z":"6584933b.6ac07c","name":"show vacas","func":"var granja = global.get(msg.topic) || {}\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["af00f2f2.c4dce"]]},{"id":"3ad768d.ffd2798","type":"worldmap in","z":"efeecbc4.730d28","name":"","path":"/map/rutas","events":"","x":180,"y":80,"wires":[["60b26190.c88d6","721b7211.550efc"]]},{"id":"ab0bdc85.6a83e","type":"ui_worldmap","z":"efeecbc4.730d28","group":"a223d88e.58f088","order":1,"width":30,"height":11,"name":"Rutas","lat":"42.034722","lon":"2.892528","zoom":"11","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/rutas","x":990,"y":80,"wires":[]},{"id":"60b26190.c88d6","type":"function","z":"efeecbc4.730d28","name":"static points","func":"if (msg.payload.action==\"connected\") {\n    \n    laccim = global.get(\"LACCIM\");\n    mb = global.get(\"MasBadosa\");\n    mc = global.get(\"MasColom\");\n    cs = global.get(\"CanSiset\");\n    mg = global.get(\"MasGener\");\n    ma = global.get(\"MasAlmar\");\n    \n    ruta_mb = mb.ruta\n    ruta_mc = mc.ruta\n    ruta_cs = cs.ruta\n    ruta_mg = mg.ruta\n    ruta_ma = ma.ruta\n    \n    place_lac = {\"name\":laccim.setup.name,\"lat\":laccim.setup.lat,\"lon\":laccim.setup.lon,\"icon\":laccim.otros.icon}\n    place_mb = {\"name\":\"Granja \"+mb.setup.command.map.overlay,\"lat\":mb.setup.command.lat,\"lon\":mb.setup.command.lon,\"icon\":mb.otros.icon}\n    place_mc = {\"name\":\"Granja \"+mc.setup.command.map.overlay,\"lat\":mc.setup.command.lat,\"lon\":mc.setup.command.lon,\"icon\":mc.otros.icon}\n    place_cs = {\"name\":\"Granja \"+cs.setup.command.map.overlay,\"lat\":cs.setup.command.lat,\"lon\":cs.setup.command.lon,\"icon\":cs.otros.icon}\n    place_mg = {\"name\":\"Granja \"+mg.setup.command.map.overlay,\"lat\":mg.setup.command.lat,\"lon\":mg.setup.command.lon,\"icon\":mg.otros.icon}\n    place_ma = {\"name\":\"Granja \"+ma.setup.command.map.overlay,\"lat\":ma.setup.command.lat,\"lon\":ma.setup.command.lon,\"icon\":ma.otros.icon}\n    \n    \n    send = [ruta_mb, ruta_mc, ruta_cs, ruta_ma, ruta_mg,\n            place_mb, place_mc, place_cs, place_ma, place_mg,place_lac];\n            \n    var i;\n    for (i = 0; i < send.length; i++) {\n        msg.payload = send[i]\n        node.send(msg)\n    }\n \n}\n\n","outputs":1,"noerr":0,"x":550,"y":80,"wires":[["ab0bdc85.6a83e"]]},{"id":"8795f898.d0aa98","type":"function","z":"6584933b.6ac07c","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = global.get(msg.topic)\n\ngranja.vacas = cows\n\nglobal.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["112c5f2b.54a931"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"abaa4499.6fb1f8","type":"ui_table","z":"efeecbc4.730d28","group":"62c9b314.487d5c","name":"","order":2,"width":26,"height":4,"columns":[{"field":"Color","title":"","width":"5%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"Ruta","title":"Ruta","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Matricula","title":"Matrícula","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Conductor","title":"Conductor","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Temperatura","title":"Temperatura (ºC)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Cuba","title":"Cuba (L)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Distancia","title":"Distancia Acumulada (km)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Revision","title":"Última Revisión","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":690,"y":560,"wires":[]},{"id":"c56da1d2.deaa2","type":"inject","z":"efeecbc4.730d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":170,"y":560,"wires":[["bc1f85a5.f48fe8"]]},{"id":"bc1f85a5.f48fe8","type":"function","z":"efeecbc4.730d28","name":"Actualizar Tabla Dashboard","func":"var camiones = flow.get(\"camiones\")\nmsg.payload = camiones;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":560,"wires":[["abaa4499.6fb1f8"]]},{"id":"5d710c48.a8b844","type":"random","z":"685b23f6.ffabfc","name":"","low":"0","high":"40","inte":"true","property":"payload","x":440,"y":120,"wires":[["9b20a0e7.15aaf"]]},{"id":"bb3b88b4.efa868","type":"function","z":"685b23f6.ffabfc","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["17412d1b.7897c3","9f46858.5a0de78"]]},{"id":"dda41e78.002ee","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1550,"y":340,"wires":[["6d26985.1f38668"]]},{"id":"19651100.dc056f","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1550,"y":380,"wires":[["6d26985.1f38668"]]},{"id":"6d26985.1f38668","type":"function","z":"685b23f6.ffabfc","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":1750,"y":360,"wires":[["9e24ef01.85253","107132e.aeb84cd"]]},{"id":"fbe223c8.aec8b","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":900,"wires":[["32a2a01.887a66"]]},{"id":"f88dda0b.834fe8","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":940,"wires":[["32a2a01.887a66"]]},{"id":"32a2a01.887a66","type":"function","z":"685b23f6.ffabfc","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":920,"wires":[["81e5443e.0c09b8","53c9c7a7.03d7f8"]]},{"id":"fd9ac20c.7d04e","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1570,"y":880,"wires":[["48ac46.9a2643bc"]]},{"id":"df1f4843.809f08","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1570,"y":920,"wires":[["48ac46.9a2643bc"]]},{"id":"48ac46.9a2643bc","type":"function","z":"685b23f6.ffabfc","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":1770,"y":900,"wires":[["7c86535d.d8ed2c","56b0f0f4.a8367"]]},{"id":"4459dd36.d85354","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":890,"y":1520,"wires":[["770c0f49.11c4a"]]},{"id":"9711d3a6.69efc","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":1560,"wires":[["770c0f49.11c4a"]]},{"id":"770c0f49.11c4a","type":"function","z":"685b23f6.ffabfc","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":1540,"wires":[["44b20add.c4c6e4","1277b201.d80abe"]]},{"id":"9363bae7.68c878","type":"inject","z":"685b23f6.ffabfc","name":"Temp Granja","topic":"Mas Colom","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1550,"y":100,"wires":[["1c5f61f1.44ed2e"]]},{"id":"1c5f61f1.44ed2e","type":"random","z":"685b23f6.ffabfc","name":"","low":"0","high":"40","inte":"true","property":"payload","x":1800,"y":100,"wires":[["8cffc96d.296168"]]},{"id":"4602317.b51f0d","type":"inject","z":"685b23f6.ffabfc","name":"Temp Granja","topic":"Can Siset","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":660,"wires":[["b3a62d57.7f212"]]},{"id":"b3a62d57.7f212","type":"random","z":"685b23f6.ffabfc","name":"","low":"0","high":"40","inte":"true","property":"payload","x":460,"y":660,"wires":[["e7ff62e1.2b338"]]},{"id":"779baf81.44586","type":"inject","z":"685b23f6.ffabfc","name":"Temp Granja","topic":"Mas Almar","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1590,"y":640,"wires":[["155cb9a3.ad5626"]]},{"id":"155cb9a3.ad5626","type":"random","z":"685b23f6.ffabfc","name":"","low":"0","high":"40","inte":"true","property":"payload","x":1840,"y":640,"wires":[["e5db56c0.b947d8"]]},{"id":"715b8227.c7ef3c","type":"inject","z":"685b23f6.ffabfc","name":"Temp Granja","topic":"Mas Gener","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":910,"y":1280,"wires":[["c4b62341.9d9f9"]]},{"id":"c4b62341.9d9f9","type":"random","z":"685b23f6.ffabfc","name":"","low":"0","high":"40","inte":"true","property":"payload","x":1160,"y":1280,"wires":[["d6077264.4dbe"]]},{"id":"bc311813.fd9648","type":"ui_text","z":"6584933b.6ac07c","group":"dd41a7ad.972fb8","order":3,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 60 vacas</font></b>","layout":"row-center","x":430,"y":280,"wires":[]},{"id":"18a362c1.30288d","type":"ui_text","z":"6584933b.6ac07c","group":"a2c1b71.8611348","order":3,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 52 vacas</font></b>","layout":"row-center","x":410,"y":740,"wires":[]},{"id":"795425bc.12c61c","type":"ui_text","z":"6584933b.6ac07c","group":"ae432b2f.d4e4e8","order":3,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 45 vacas</font></b>","layout":"row-center","x":410,"y":1180,"wires":[]},{"id":"5cb6fc7b.2660c4","type":"ui_text","z":"6584933b.6ac07c","group":"c5836ff.a8af69","order":3,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 72 vacas</font></b>","layout":"row-center","x":1730,"y":260,"wires":[]},{"id":"f8f91bba.3ea818","type":"ui_text","z":"6584933b.6ac07c","group":"be3c6a38.901158","order":3,"width":10,"height":1,"name":"","label":"<b><font size = 5>Actualmente: </font></b>","format":"<b><font size = 5>{{msg.payload}} de 45 vacas</font></b>","layout":"row-center","x":1710,"y":680,"wires":[]},{"id":"65abbb84.6270f4","type":"function","z":"6584933b.6ac07c","name":"select EDIFICIOS and AREAS ","func":"msg.payload =[\"SELECT * FROM edificios AS e LEFT JOIN areas AS a ON a.edificio = e.edificio \"+\n                \"WHERE a.edificio == 'Mas Gener' ORDER BY a.orden \",\n                \n            \"SELECT * FROM edificios AS e LEFT JOIN areas AS a ON a.edificio = e.edificio \"+\n                \"WHERE a.edificio == 'Mas Badosa' ORDER BY a.orden \",\n                \n            \"SELECT * FROM edificios AS e LEFT JOIN areas AS a ON a.edificio = e.edificio \"+\n                \"WHERE a.edificio == 'Mas Colom' ORDER BY a.orden \",\n                \n            \"SELECT * FROM edificios AS e LEFT JOIN areas AS a ON a.edificio = e.edificio \"+\n                \"WHERE a.edificio == 'Can Siset' ORDER BY a.orden \",\n                \n            \"SELECT * FROM edificios AS e LEFT JOIN areas AS a ON a.edificio = e.edificio \"+\n                \"WHERE a.edificio == 'Mas Almar' ORDER BY a.orden \",\n                \n            //\"SELECT * FROM edificios WHERE edificio = 'LACCIM'\"\n                ]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1400,"wires":[["8faf9352.6b846"]]},{"id":"3b8df7d.aecad08","type":"inject","z":"6584933b.6ac07c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1400,"wires":[["65abbb84.6270f4"]]},{"id":"24eac678.03693a","type":"sqlite","z":"6584933b.6ac07c","mydb":"2257eb84.aac264","sqlquery":"msg.topic","sql":"","name":"","x":950,"y":1400,"wires":[["5c07f2ee.61795c"]]},{"id":"8faf9352.6b846","type":"split","z":"6584933b.6ac07c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":1400,"wires":[["c740e8d8.449008"]]},{"id":"c740e8d8.449008","type":"change","z":"6584933b.6ac07c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1400,"wires":[["24eac678.03693a"]]},{"id":"11b900b3.9b05ef","type":"function","z":"efeecbc4.730d28","name":"select RUTAS","func":"msg.payload =[\"SELECT * FROM rutas WHERE edificio == 'Mas Gener' ORDER BY orden \",\n                \n            \"SELECT * FROM rutas WHERE edificio == 'Mas Badosa' ORDER BY orden \",\n                \n            \"SELECT * FROM rutas WHERE edificio == 'Mas Colom' ORDER BY orden \",\n                \n            \"SELECT * FROM rutas WHERE edificio == 'Can Siset' ORDER BY orden \",\n                \n            \"SELECT * FROM rutas WHERE edificio == 'Mas Almar' ORDER BY orden \",\n                \n            \"SELECT * FROM edificios WHERE edificio = 'LACCIM'\"\n                ]\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["2a4fa887.48b538"]]},{"id":"948b9085.4f9b9","type":"inject","z":"efeecbc4.730d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":130,"y":300,"wires":[["11b900b3.9b05ef","e7342b5.1ff1ad8"]]},{"id":"fdfd8ef1.a0bb6","type":"sqlite","z":"efeecbc4.730d28","mydb":"2257eb84.aac264","sqlquery":"msg.topic","sql":"","name":"","x":850,"y":300,"wires":[["267f28f6.b678a8"]]},{"id":"2a4fa887.48b538","type":"split","z":"efeecbc4.730d28","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":300,"wires":[["968faf.48ed805"]]},{"id":"968faf.48ed805","type":"change","z":"efeecbc4.730d28","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":300,"wires":[["fdfd8ef1.a0bb6"]]},{"id":"5c07f2ee.61795c","type":"function","z":"6584933b.6ac07c","name":"Global SET","func":"var points = msg.payload;\nvar name = msg.payload[0].edificio\nvar lat = msg.payload[0].lat\nvar lon = msg.payload[0].lon\n\n\nname = name.replace(/ /g, '');\n\nvar otros = {\"maxVacas\":msg.payload[0].capacidad_vacas,\n            \"maxCuba\":msg.payload[0].capacidad_cuba,\n            \"icon\":msg.payload[0].icon\n            };\n\npoints.forEach(function(part, index) {\n  alat = points[index].alat\n  alon = points[index].alon\n  this[index] = {[1]:alat,[0]:alon}\n}, points); // use arr as this\n\n            \nvar geo = { \"type\": \"FeatureCollection\",\n\"features\": [\n  {\n    \"type\": \"Feature\",\n    \"properties\": {\n      \"color\": \"rgb(0,0,255)\",\n      \"roofColor\": \"rgb(128,128,255)\",\n      \"Zona\": \"Pasto\"\n    },\n    \"geometry\": {\n      \"type\": \"Polygon\",\n      \"coordinates\": [points]\n    }\n  }\n]\n};\n\nvar m = {overlay: name, geojson:geo, fit:true};\n\nvar setup = {\n    command: {\n        map: m, \n        lat: lat, \n        lon: lon\n    }\n};\n\ngranja = {\"setup\": setup, \"vacas\": [],\"otros\":otros}\nglobal.set(name, granja)\nmsg.points = [points]\nreturn msg\n\n","outputs":1,"noerr":0,"x":1170,"y":1400,"wires":[[]]},{"id":"267f28f6.b678a8","type":"function","z":"efeecbc4.730d28","name":"Global SET","func":"name = msg.payload[0].edificio\nmsg.name = name.replace(/ /g, '');\n\nif (msg.name === \"LACCIM\")\n{\n    setup = {\n        name:msg.name,\n        lat:msg.payload[0].lat,\n        lon:msg.payload[0].lon,\n        }\n    otros = {maxVacas: msg.payload[0].capacidad_vacas,\n        maxCuba: msg.payload[0].capacidad_cuba,\n        icon: msg.payload[0].icon\n        }\n    LACCIM={\"setup\":setup,\"otros\":otros}\n    global.set(msg.name,LACCIM)\n}\nelse{\n\npoints = coordenadas(msg.payload)\n\nif (msg.name === \"CanSiset\")\n{\n    ruta = {\n    name:msg.name,\n    color:\"#53eb31\",\n    \"line\": [points]\n    }\n    granja = global.get(msg.name)\n    Object.assign(granja,{\"ruta\":ruta})\n    global.set(msg.name, granja)\n}\nelse if (msg.name === \"MasBadosa\")\n{\n    ruta = {\n    name:msg.name,\n    color: \"#808bff\",\n    \"line\": [points]\n    }\n    granja = global.get(msg.name)\n    Object.assign(granja,{\"ruta\":ruta})\n    global.set(msg.name, granja)\n    \n}\nelse if (msg.name === \"MasAlmar\")\n{\n    ruta = {\n    name:msg.name,\n    color:\"#ff0000\",\n    \"line\": [points]\n    }\n    granja = global.get(msg.name)\n    Object.assign(granja,{\"ruta\":ruta})\n    global.set(msg.name, granja)\n  \n}\nelse if (msg.name === \"MasColom\")\n{\n    ruta = {\n    name:msg.name,\n    color:\"#ff80e6\",\n    \"line\": [points]\n    }\n    granja = global.get(msg.name)\n    Object.assign(granja,{\"ruta\":ruta})\n    global.set(msg.name, granja)\n   \n}\nelse if (msg.name === \"MasGener\")\n{\n    ruta = {\n    name:msg.name,\n    color: \"#fbff00\",\n    \"line\": [points]\n    }\n    granja = global.get(msg.name)\n    Object.assign(granja,{\"ruta\":ruta})\n    global.set(msg.name, granja)\n    \n}\n\n\n}\n\nreturn msg;\n\n\nfunction coordenadas(points)\n{\n    points.forEach(function(part, index) {\n    rlat = points[index].rlat\n    rlon = points[index].rlon\n    this[index] = {\"lat\":rlat,\"lon\":rlon}\n    }, points); // use arr as this\n    return points\n}\n\n\n","outputs":1,"noerr":0,"x":1130,"y":300,"wires":[[]]},{"id":"721b7211.550efc","type":"function","z":"efeecbc4.730d28","name":"dynamic points","func":"\nif (msg.payload.action==\"connected\") {\n    \n   camiones = flow.get(\"camiones\")\n   \n    camiones_array = [\n                    {\"name\":\"Camión \"+camiones[0].Ruta,\n                     \"lat\":camiones[0].Pos[0],\n                     \"lon\":camiones[0].Pos[1],\n                     \"icon\":\":truck:\"\n                    },\n                    {\"name\":\"Camión \"+camiones[1].Ruta,\n                     \"lat\":camiones[1].Pos[0],\n                     \"lon\":camiones[1].Pos[1],\n                     \"icon\":\":truck:\"\n                    },\n                    {\"name\":\"Camión \"+camiones[2].Ruta,\n                     \"lat\":camiones[2].Pos[0],\n                     \"lon\":camiones[2].Pos[1],\n                     \"icon\":\":truck:\"\n                    },\n                    {\"name\":\"Camión \"+camiones[3].Ruta,\n                     \"lat\":camiones[3].Pos[0],\n                     \"lon\":camiones[3].Pos[1],\n                     \"icon\":\":truck:\"\n                    },\n                    {\"name\":\"Camión \"+camiones[4].Ruta,\n                     \"lat\":camiones[4].Pos[0],\n                     \"lon\":camiones[4].Pos[1],\n                     \"icon\":\":truck:\"\n                    }\n                ]\n\nmsg.payload = camiones_array\n    \nreturn msg;\n}\n\n","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["ab0bdc85.6a83e"]]},{"id":"e7342b5.1ff1ad8","type":"function","z":"efeecbc4.730d28","name":"Valores Tabla","func":"var camiones = flow.get(\"camiones\")\nvar temperatura = msg.temperature\nvar distance = msg.distance\ncamiones = [\n    {   \n        \"Color\":\"#808bff\",\n        \"Ruta\":\"Mas Badosa\",\n        \"Matricula\":\"2456-FCM\",\n        \"Conductor\":\"Adriana\",\n        \"Temperatura\":temperatura,\n        \"Cuba\":distance,\n        \"Distancia\":\"280.402\",\n        \"Revision\":\"30-06-2016\",\n        \"Pos\":{0:42.11178,1:2.76969}\n    },\n    {\n       \"Color\":\"#ff0000\",\n        \"Ruta\":\"Mas Almar\",\n        \"Matricula\":\"1184-FCM\",\n        \"Conductor\":\"Ferran\",\n        \"Temperatura\":\"2\",\n        \"Cuba\":\"5.000\",\n        \"Distancia\":\"70.398\",\n        \"Revision\":\"13-11-2018\",\n        \"Pos\":{0:42.04112,1:2.94004}\n    },\n    {\n        \"Color\":\"#53eb31\",\n        \"Ruta\":\"Can Siset\",\n        \"Matricula\":\"9264-FCM\",\n        \"Conductor\":\"Joan\",\n        \"Temperatura\":\"3\",\n        \"Cuba\":\"10.000\",\n        \"Distancia\":\"320.546\",\n        \"Revision\":\"13-11-2018\",\n        \"Pos\":{0:42.06532,1:2.81257}\n    },\n    {\"Color\":\"#ff80e6\",\n        \"Ruta\":\"Mas Colom\",\n        \"Matricula\":\"8764-FCM\",\n        \"Conductor\":\"Vicenç\",\n        \"Temperatura\":\"1\",\n        \"Cuba\":\"5.000\",\n        \"Distancia\":\"450.779\",\n        \"Revision\":\"01-02-2014\",\n        \"Pos\":{0:42.02202,1:2.8552}\n    },\n    {\n        \"Color\":\"#fbff00\",\n        \"Ruta\":\"Mas Gener\",\n        \"Matricula\":\"0407-FCM\",\n        \"Conductor\":\"Yair\",\n        \"Temperatura\":\"4\",\n        \"Cuba\":\"5.000\",\n        \"Distancia\":\"30.909\",\n        \"Revision\":\"21-12-2019\",\n        \"Pos\":{0:41.97916,1:2.77981}\n    }\n        ]\nflow.set(\"camiones\",camiones)\n\nmsg.payload = camiones;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["b989799d.db5cb8"]]},{"id":"d1a9e55b.b22da8","type":"function","z":"efeecbc4.730d28","d":true,"name":"Dynamic points","func":"var navigation = flow.get(\"your-navigation\");\nvar delayInMilliseconds = 2000;\n\nif (navigation.nova) \n{\n    ruta = navigation.ruta\n    \n    send_position(ruta)\n    \n    nova=false\n    flow.set(\"your-navigation\",{ruta,nova})\n    \n\n}\n\n\nif (msg.payload.name == \"Point to go\" & msg.payload.action == \"move\")\n{\n    lat = msg.payload.lat \n    lon = msg.payload.lon\n    actual_position = {\"lat\":lat, \"lon\":lon}\n    global.set('actual_position',actual_position)\n    \n}\n\nfunction send_position(point)\n    {\n        msg.payload = point\n        node.send(msg)\n    }\n\n","outputs":1,"noerr":0,"x":560,"y":200,"wires":[[]]},{"id":"9ef42082.bedd4","type":"random","z":"90b7ee2a.689b3","name":"Temperatura ","low":"10","high":"40","inte":"true","property":"payload","x":410,"y":160,"wires":[["3ad110cf.740e3","3f0a418e.13aebe"]]},{"id":"c3727118.9bb42","type":"random","z":"90b7ee2a.689b3","name":"Humedad","low":"20","high":"90","inte":"true","property":"payload","x":400,"y":300,"wires":[["6eca40d6.b35ca","6f84c67d.1a5ae8"]]},{"id":"3ad110cf.740e3","type":"ui_gauge","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":5,"width":4,"height":3,"gtype":"gage","title":"Temperatura Nave","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":140,"wires":[]},{"id":"3f0a418e.13aebe","type":"ui_gauge","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":2,"width":4,"height":3,"gtype":"gage","title":"Temperatura Oficina","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":180,"wires":[]},{"id":"6eca40d6.b35ca","type":"ui_gauge","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":6,"width":4,"height":3,"gtype":"gage","title":"Humedad Nave","label":"%","format":"{{value}}","min":0,"max":"90","colors":["#00ffff","#0080ff","#0000ff"],"seg1":"","seg2":"","x":580,"y":280,"wires":[]},{"id":"6f84c67d.1a5ae8","type":"ui_gauge","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":3,"width":4,"height":3,"gtype":"gage","title":"Humedad Oficina","label":"%","format":"{{value}}","min":0,"max":"90","colors":["#00ffff","#0080ff","#0000ff"],"seg1":"","seg2":"","x":590,"y":320,"wires":[]},{"id":"f94fa7f0.08f418","type":"inject","z":"90b7ee2a.689b3","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":220,"wires":[["9ef42082.bedd4","c3727118.9bb42"]]},{"id":"76e425c0.e739fc","type":"inject","z":"90b7ee2a.689b3","name":"Mas Badosa - Tanque 1","topic":"Cuba 1","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":190,"y":480,"wires":[["a79789f6.5250d8"]]},{"id":"57d491b1.a6d4","type":"comment","z":"90b7ee2a.689b3","name":"Temperatura/Humedad ","info":"","x":160,"y":60,"wires":[]},{"id":"4bb412d5.bdb83c","type":"comment","z":"90b7ee2a.689b3","name":"Temperatura Tanques","info":"","x":180,"y":400,"wires":[]},{"id":"4969bcaa.c8fa14","type":"comment","z":"3d887dd.83c4582","name":"Estado Maquina","info":"","x":200,"y":60,"wires":[]},{"id":"d9cb9fb6.5295c","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":2,"width":8,"height":1,"name":"","label":"<b><font size = 4>Estado Máquinas</b>","format":"{{msg.payload}}","layout":"row-center","x":460,"y":60,"wires":[]},{"id":"152d470c.092b99","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":120,"wires":[["4a7099d.bd80b68"]]},{"id":"dfeb3826.3b2298","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["4a7099d.bd80b68"]]},{"id":"4a7099d.bd80b68","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["3ed3c583.4380da"]]},{"id":"73b52f52.7f316","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":260,"wires":[["608e0e2f.d798d"]]},{"id":"608e0e2f.d798d","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["254c3389.029e8c"]]},{"id":"fe3277da.148bc8","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":320,"wires":[["a207a893.996f78"]]},{"id":"15a81117.12a6ef","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":360,"wires":[["a207a893.996f78"]]},{"id":"a207a893.996f78","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["de74518b.f8e03"]]},{"id":"452bd5e5.c3435c","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["26725d13.724432"]]},{"id":"ea15841a.890048","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":460,"wires":[["26725d13.724432"]]},{"id":"26725d13.724432","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["a84720a7.5636f"]]},{"id":"bbe99a.b7f16668","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":540,"wires":[["a0937fc5.77a39"]]},{"id":"42a4acc9.977194","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":580,"wires":[["a0937fc5.77a39"]]},{"id":"a0937fc5.77a39","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["40ffce5.755df3"]]},{"id":"91b292e7.78af2","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":640,"wires":[["486b38e9.7f4ef8"]]},{"id":"adba6939.897ee8","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":680,"wires":[["486b38e9.7f4ef8"]]},{"id":"486b38e9.7f4ef8","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["53e865ff.edf6cc"]]},{"id":"4ab14f5f.76279","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["608e0e2f.d798d"]]},{"id":"17da1c2a.e8fba4","type":"inject","z":"90b7ee2a.689b3","name":"Mas Badosa - Tanque 2","topic":"Cuba 2","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":190,"y":540,"wires":[["a79789f6.5250d8"]]},{"id":"a79789f6.5250d8","type":"random","z":"90b7ee2a.689b3","name":"","low":"2","high":"6","inte":"false","property":"payload","x":560,"y":520,"wires":[["40d3b6ac.f97068"]]},{"id":"b1591602.785e88","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"eb730bd0.25cf08","order":18,"width":14,"height":8,"label":"<b>Cubas</b>","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"900","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":1240,"wires":[[]]},{"id":"40d3b6ac.f97068","type":"ui_chart","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":14,"width":15,"height":4,"label":"Cubas Mas Badosa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":520,"wires":[[]]},{"id":"2e9a49be.f28936","type":"ui_table","z":"7d46a7ee.dc2d88","group":"16092989.486e96","name":"Alarmas Internas","order":1,"width":14,"height":15,"columns":[{"field":"Grado","title":"Grado","width":"15%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"Alarma","title":"Alarma","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Timestamp","title":"Fecha/Hora ","width":"35%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":690,"y":260,"wires":[]},{"id":"aaf47d89.d076e","type":"inject","z":"7d46a7ee.dc2d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":140,"y":340,"wires":[["2abbd75e.808708"]]},{"id":"2abbd75e.808708","type":"function","z":"7d46a7ee.dc2d88","name":"Alarmas Camiones","func":"var alarmas = global.get(\"alarmas\") || {}\n\n","outputs":3,"noerr":0,"x":390,"y":340,"wires":[[],["2e9a49be.f28936"],["d98e7ab3.a99218"]]},{"id":"d98e7ab3.a99218","type":"ui_table","z":"7d46a7ee.dc2d88","group":"ac399f07.1f696","name":"Alarmas Externas","order":1,"width":14,"height":15,"columns":[{"field":"Grado","title":"Grado","width":"15%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"Alarma","title":"Alarma","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Timestamp","title":"Fecha/Hora ","width":"35%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":690,"y":420,"wires":[]},{"id":"b3d97a82.258408","type":"comment","z":"7d46a7ee.dc2d88","name":"https://flows.nodered.org/node/node-red-node-ui-table","info":"","x":560,"y":160,"wires":[]},{"id":"babee9a2.18fa38","type":"comment","z":"3d887dd.83c4582","name":"Consumo Maquinas","info":"","x":1490,"y":40,"wires":[]},{"id":"cbd31785.9d2d58","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"80b3646c.7ac5a8","order":6,"width":14,"height":7,"label":"Consumo Máquinas (semana pasada)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1930,"y":80,"wires":[[]]},{"id":"1ab910d8.8ef3cf","type":"comment","z":"3d887dd.83c4582","name":"Consumo Maquinas Clima","info":"","x":1490,"y":660,"wires":[]},{"id":"201ee3e3.c8f91c","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"d70b266c.0b22f8","order":15,"width":14,"height":7,"label":"Consumo Máquinas Clima (semana pasada)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1930,"y":700,"wires":[[]]},{"id":"df8c73ca.77aed","type":"comment","z":"3d887dd.83c4582","name":"Tanques Planta","info":"","x":440,"y":1180,"wires":[]},{"id":"3ed3c583.4380da","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":4,"width":7,"height":1,"name":"Maquina 1","label":"<b><font size = 4>Máquina 1: </font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":550,"y":140,"wires":[]},{"id":"254c3389.029e8c","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":6,"width":7,"height":1,"name":"Maquina 2","label":"<b><font size = 4>Máquina 2: </font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":550,"y":240,"wires":[]},{"id":"de74518b.f8e03","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":8,"width":7,"height":1,"name":"Maquina 3","label":"<b><font size = 4>Máquina 3: </font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":550,"y":340,"wires":[]},{"id":"a84720a7.5636f","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":10,"width":7,"height":1,"name":"Maquina 4","label":"<b><font size = 4>Máquina 4: </font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":550,"y":440,"wires":[]},{"id":"40ffce5.755df3","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":5,"width":7,"height":1,"name":"Maquina Clima 1","label":"<b><font size = 4>Máquina Clima 1: </font></b>","format":"<b><font size = 4> <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":590,"y":560,"wires":[]},{"id":"53e865ff.edf6cc","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":7,"width":7,"height":1,"name":"Maquina Clima 2","label":"<b><font size = 4>Máquina Clima 2: </font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":590,"y":660,"wires":[]},{"id":"af01d92e.0011d8","type":"ui_ui_control","z":"685b23f6.ffabfc","name":"","events":"all","x":1320,"y":660,"wires":[[]]},{"id":"35075541.fea7ea","type":"comment","z":"685b23f6.ffabfc","name":"para enviar a otro Tab","info":"","x":1160,"y":600,"wires":[]},{"id":"17412d1b.7897c3","type":"ui_text","z":"685b23f6.ffabfc","group":"1a8068c5.77aff7","order":5,"width":9,"height":1,"name":"Ventilador Mas Badosa","label":"<b><font size = 4>Mas Badosa:</font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":610,"y":420,"wires":[]},{"id":"9f46858.5a0de78","type":"ui_text","z":"685b23f6.ffabfc","group":"bb6f3d8f.b6ab7","order":9,"width":15,"height":1,"name":"Ventilador Mas Badosa","label":"<b><font size = 6>Estado Ventilador:</font></b>","format":"<b><font size = 6><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-center","x":610,"y":460,"wires":[]},{"id":"9e24ef01.85253","type":"ui_text","z":"685b23f6.ffabfc","group":"1a8068c5.77aff7","order":9,"width":9,"height":1,"name":"Ventilador Mas Colom","label":"<b><font size = 4> Mas Colom:</font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":2060,"y":340,"wires":[]},{"id":"107132e.aeb84cd","type":"ui_text","z":"685b23f6.ffabfc","group":"f306ef72.c8016","order":9,"width":15,"height":1,"name":"Ventilador Mas Colom","label":"<b><font size = 6>Estado Ventilador:</font></b>","format":"<b><font size = 6><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-center","x":2060,"y":380,"wires":[]},{"id":"81e5443e.0c09b8","type":"ui_text","z":"685b23f6.ffabfc","group":"1a8068c5.77aff7","order":13,"width":9,"height":1,"name":"Ventilador Can Siset","label":"<b><font size = 4>Can Siset:</font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":680,"y":900,"wires":[]},{"id":"53c9c7a7.03d7f8","type":"ui_text","z":"685b23f6.ffabfc","group":"c285df16.15cde","order":9,"width":15,"height":1,"name":"Ventilador Can Siset","label":"<b><font size = 6>Estado Ventilador:</font></b>","format":"<b><font size = 6><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-center","x":680,"y":940,"wires":[]},{"id":"7c86535d.d8ed2c","type":"ui_text","z":"685b23f6.ffabfc","group":"1a8068c5.77aff7","order":17,"width":9,"height":1,"name":"Ventilador Mas Almar","label":"<b><font size = 4>Mas Almar:</font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":2040,"y":880,"wires":[]},{"id":"56b0f0f4.a8367","type":"ui_text","z":"685b23f6.ffabfc","group":"a6c85b2e.f01f18","order":9,"width":15,"height":1,"name":"Ventilador Mas Almar","label":"<b><font size = 6>Estado Ventilador:</font></b>","format":"<b><font size = 6><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-center","x":2040,"y":920,"wires":[]},{"id":"44b20add.c4c6e4","type":"ui_text","z":"685b23f6.ffabfc","group":"1a8068c5.77aff7","order":21,"width":9,"height":1,"name":"Ventilador Mas Gener","label":"<b><font size = 4>Mas Gener:</font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":1400,"y":1520,"wires":[]},{"id":"1277b201.d80abe","type":"ui_text","z":"685b23f6.ffabfc","group":"6435aa01.8c02b4","order":9,"width":15,"height":1,"name":"Ventilador Mas Gener","label":"<b><font size = 6>Estado Ventilador:</font></b>","format":"<b><font size = 6><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-center","x":1400,"y":1560,"wires":[]},{"id":"7c677655.c96458","type":"ui_chart","z":"685b23f6.ffabfc","name":"","group":"1a8068c5.77aff7","order":27,"width":14,"height":8,"label":"<b>Cubas</b>","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":500,"wires":[[]]},{"id":"9b98a9eb.751ca8","type":"link in","z":"685b23f6.ffabfc","name":"","links":["5c61fc5.6da1204","4a10d3a9.52447c","cbc5be31.8d245","997b8dad.c150e","4a122f33.a81f1"],"x":955,"y":500,"wires":[["e84e5a3b.954cf8"]]},{"id":"5c61fc5.6da1204","type":"link out","z":"685b23f6.ffabfc","name":"","links":["9b98a9eb.751ca8"],"x":635,"y":320,"wires":[]},{"id":"4a10d3a9.52447c","type":"link out","z":"685b23f6.ffabfc","name":"","links":["9b98a9eb.751ca8"],"x":595,"y":820,"wires":[]},{"id":"997b8dad.c150e","type":"link out","z":"685b23f6.ffabfc","name":"","links":["9b98a9eb.751ca8"],"x":1955,"y":800,"wires":[]},{"id":"4a122f33.a81f1","type":"link out","z":"685b23f6.ffabfc","name":"","links":["9b98a9eb.751ca8"],"x":1955,"y":260,"wires":[]},{"id":"cbc5be31.8d245","type":"link out","z":"685b23f6.ffabfc","name":"","links":["9b98a9eb.751ca8"],"x":1315,"y":1400,"wires":[]},{"id":"fc0bd1d.1f18c3","type":"ui_text","z":"685b23f6.ffabfc","group":"1a8068c5.77aff7","order":2,"width":8,"height":1,"name":"","label":"<b><font size = 4>Estado Ventiladores</b>","format":"{{msg.payload}}","layout":"row-center","x":1130,"y":20,"wires":[]},{"id":"e20be44c.3afed8","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":840,"wires":[["cc5b7a6c.d39a08"]]},{"id":"181f19ec.904da6","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":880,"wires":[["cc5b7a6c.d39a08"]]},{"id":"cc5b7a6c.d39a08","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Cerrada\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Abierta\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["2ddf4ff4.08ad7"]]},{"id":"2ddf4ff4.08ad7","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":13,"width":7,"height":1,"name":"Puerta","label":"<b><font size = 4>Puerta: </font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":550,"y":860,"wires":[]},{"id":"3b7605b6.a90bba","type":"inject","z":"3d887dd.83c4582","name":"Reset Graficas","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1600,"y":500,"wires":[["cbd31785.9d2d58","201ee3e3.c8f91c"]]},{"id":"15450008.c33d3","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"[{\"series\":[\"Pasteurizadora\",\"Centrifugadora\",\"Envasadora\",\"Empaquetadora\"],\"data\":[[9,10,11,12],[3,4,5,6],[7,8,9,10]],\"labels\":[\"Lunes\",\"Martes\",\"Miercoles\",\"Jueves\"]}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1390,"y":80,"wires":[["598998f0.1b8ae8"]]},{"id":"598998f0.1b8ae8","type":"function","z":"3d887dd.83c4582","name":"Input valores grafica","func":"msg.payload = [\n    {\n        \"series\": [\"Pasteurizadora\", \"Centrifugadora\", \"Envasadora\",\"Empaquetadora\"],\n        \"data\": [[9,10,11,12,2,5,2],[3,4,5,6,9,4,7],[7,8,9,2,2,8,5],[5,3,5,3,6,3,7]],\n        \"labels\": [\"Lunes\", \"Martes\", \"Miercoles\", \"Jueves\",\"Viernes\", \"Sabado\", \"Domingo\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":80,"wires":[["cbd31785.9d2d58"]]},{"id":"311760fc.86a56","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"[{\"series\":[\"Pasteurizadora\",\"Centrifugadora\",\"Envasadora\",\"Empaquetadora\"],\"data\":[[9,10,11,12],[3,4,5,6],[7,8,9,10]],\"labels\":[\"Lunes\",\"Martes\",\"Miercoles\",\"Jueves\"]}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1410,"y":700,"wires":[["a1a56192.d5b62"]]},{"id":"a1a56192.d5b62","type":"function","z":"3d887dd.83c4582","name":"Input valores grafica","func":"msg.payload = [\n    {\n        \"series\": [\"Máquina Clima 1\", \"Máquina Clima 2\", \"Máquina Clima 3\"],\n        \"data\": [[9,10,3,6,4,7,2],[3,4,9,3,6,2,7],[3,5,2,3,4,2,7]],\n        \"labels\": [\"Lunes\", \"Martes\", \"Miercoles\", \"Jueves\",\"Viernes\", \"Sabado\",\"Domingo\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":700,"wires":[["201ee3e3.c8f91c"]]},{"id":"c72d50af.77061","type":"random","z":"3d887dd.83c4582","name":"Consumo","low":"0","high":"15","inte":"true","property":"payload","x":1680,"y":160,"wires":[["ab0035a.a2ed9c8"]]},{"id":"614bce10.264cb","type":"inject","z":"3d887dd.83c4582","name":"Pasteurizadora","topic":"Pasteurizadora","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1440,"y":160,"wires":[["c72d50af.77061"]]},{"id":"ab0035a.a2ed9c8","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"80b3646c.7ac5a8","order":1,"width":7,"height":5,"label":"Pasteurizadora","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1920,"y":160,"wires":[[]]},{"id":"6f04500a.904cf","type":"random","z":"3d887dd.83c4582","name":"Consumo","low":"0","high":"15","inte":"true","property":"payload","x":1680,"y":220,"wires":[["a35ab8d9.84f268"]]},{"id":"a0caa98b.5cc588","type":"inject","z":"3d887dd.83c4582","name":"Centrifugadora","topic":"Centrifugadora","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1440,"y":220,"wires":[["6f04500a.904cf"]]},{"id":"a35ab8d9.84f268","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"80b3646c.7ac5a8","order":2,"width":7,"height":5,"label":"Centrífuga","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1910,"y":220,"wires":[[]]},{"id":"f1e685e4.fb4418","type":"random","z":"3d887dd.83c4582","name":"Consumo","low":"0","high":"15","inte":"true","property":"payload","x":1680,"y":280,"wires":[["fb43027c.1848f"]]},{"id":"34ac20cc.ebbd","type":"inject","z":"3d887dd.83c4582","name":"Empaquetadora","topic":"Empaquetadora","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":280,"wires":[["f1e685e4.fb4418"]]},{"id":"fb43027c.1848f","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"80b3646c.7ac5a8","order":3,"width":7,"height":5,"label":"Empaquetadora","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1920,"y":280,"wires":[[]]},{"id":"cb3d0a09.d961d8","type":"random","z":"3d887dd.83c4582","name":"Consumo","low":"0","high":"15","inte":"true","property":"payload","x":1680,"y":340,"wires":[["71d00abc.999584"]]},{"id":"e4e8a5a9.4882f8","type":"inject","z":"3d887dd.83c4582","name":"Envasadora","topic":"Envasadora","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1430,"y":340,"wires":[["cb3d0a09.d961d8"]]},{"id":"71d00abc.999584","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"80b3646c.7ac5a8","order":4,"width":7,"height":5,"label":"Envasadora","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1910,"y":340,"wires":[[]]},{"id":"df6c0694.ca59f8","type":"random","z":"3d887dd.83c4582","name":"Consumo","low":"0","high":"15","inte":"true","property":"payload","x":1680,"y":800,"wires":[["783d1a1c.7ebb74"]]},{"id":"aaaa5a08.815838","type":"inject","z":"3d887dd.83c4582","name":"Máquina Clima 1","topic":"Máquina Clima 1","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":800,"wires":[["df6c0694.ca59f8"]]},{"id":"783d1a1c.7ebb74","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"d70b266c.0b22f8","order":1,"width":7,"height":5,"label":"Máquina Clima 1","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1930,"y":800,"wires":[[]]},{"id":"9be26693.4ebd38","type":"random","z":"3d887dd.83c4582","name":"Consumo","low":"0","high":"15","inte":"true","property":"payload","x":1680,"y":860,"wires":[["dbb20758.1bc588"]]},{"id":"ebabe210.fe32c","type":"inject","z":"3d887dd.83c4582","name":"Máquina Clima 2","topic":"Máquina Clima 2","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":860,"wires":[["9be26693.4ebd38"]]},{"id":"dbb20758.1bc588","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"d70b266c.0b22f8","order":2,"width":7,"height":5,"label":"Máquina Clima 2","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1930,"y":860,"wires":[[]]},{"id":"17d7b650.84beaa","type":"random","z":"3d887dd.83c4582","name":"Consumo","low":"0","high":"15","inte":"true","property":"payload","x":1680,"y":920,"wires":[["ffb4388a.bc5e78"]]},{"id":"ad3ddac3.02ddf8","type":"inject","z":"3d887dd.83c4582","name":"Máquina Clima 3","topic":"Máquina Clima 3","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":920,"wires":[["17d7b650.84beaa"]]},{"id":"ffb4388a.bc5e78","type":"ui_chart","z":"3d887dd.83c4582","name":"","group":"d70b266c.0b22f8","order":4,"width":7,"height":5,"label":"Máquina Clima 3","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1930,"y":920,"wires":[[]]},{"id":"7932c457.fcebfc","type":"ui_button","z":"685b23f6.ffabfc","name":"Mas Badosa","group":"1a8068c5.77aff7","order":6,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Mas Badosa","color":"#14BFF8","bgcolor":"white","icon":"location_on","payload":"","payloadType":"str","topic":"Mas Badosa","x":950,"y":580,"wires":[["6680102.d714ff"]]},{"id":"6680102.d714ff","type":"change","z":"685b23f6.ffabfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":msg.topic}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":660,"wires":[["af01d92e.0011d8"]]},{"id":"a959b5ac.5d44e8","type":"ui_button","z":"685b23f6.ffabfc","name":"Mas Gener","group":"1a8068c5.77aff7","order":22,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Mas Gener","color":"#14BFF8","bgcolor":"white","icon":"location_on","payload":"","payloadType":"str","topic":"Mas Gener","x":950,"y":620,"wires":[["6680102.d714ff"]]},{"id":"7e68e3a3.33988c","type":"ui_button","z":"685b23f6.ffabfc","name":"Can Siset","group":"1a8068c5.77aff7","order":14,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Can Siset","color":"#14BFF8","bgcolor":"white","icon":"location_on","payload":"","payloadType":"str","topic":"Can Siset","x":940,"y":660,"wires":[["6680102.d714ff"]]},{"id":"ea0c0c7a.9057d","type":"ui_button","z":"685b23f6.ffabfc","name":"Mas Almar","group":"1a8068c5.77aff7","order":18,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Mas Almar","color":"#14BFF8","bgcolor":"white","icon":"location_on","payload":"","payloadType":"str","topic":"Mas Almar","x":950,"y":700,"wires":[["6680102.d714ff"]]},{"id":"1ffce118.108c9f","type":"ui_button","z":"685b23f6.ffabfc","name":"Mas Colom","group":"1a8068c5.77aff7","order":10,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Mas Colom","color":"#14BFF8","bgcolor":"white","icon":"location_on","payload":"","payloadType":"str","topic":"Mas Colom","x":950,"y":740,"wires":[["6680102.d714ff"]]},{"id":"e84e5a3b.954cf8","type":"random","z":"685b23f6.ffabfc","name":"","low":"0","high":"10000","inte":"true","property":"payload","x":1060,"y":500,"wires":[["7c677655.c96458"]]},{"id":"63137129.e0505","type":"inject","z":"685b23f6.ffabfc","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":440,"wires":[["7c677655.c96458"]]},{"id":"65be15de.6138dc","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1280,"wires":[["b1591602.785e88"]]},{"id":"a21f4149.c22ea","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"[{\"series\":[\"Pasteurizadora\",\"Centrifugadora\",\"Envasadora\",\"Empaquetadora\"],\"data\":[[9,10,11,12],[3,4,5,6],[7,8,9,10]],\"labels\":[\"Lunes\",\"Martes\",\"Miercoles\",\"Jueves\"]}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1240,"wires":[["376899e2.5bf476"]]},{"id":"376899e2.5bf476","type":"function","z":"3d887dd.83c4582","name":"Input valores grafica","func":"msg.payload = [\n    {\n        \"series\": [\"Cuba 1\", \"Cuba 2\"],\n        \"data\": [[900,100,510,720,500],[500,400,500,600,900,400]],\n        \"labels\": [\"Mas Badosa\", \"Mas Almar\", \"Can Siset\", \"Mas Colom\", \"Mas Gener\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1240,"wires":[["b1591602.785e88"]]},{"id":"e7138ee4.e1266","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1120,"wires":[["1cc63cb6.c814c3"]]},{"id":"a127fce3.17dfc","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1160,"wires":[["1cc63cb6.c814c3"]]},{"id":"1cc63cb6.c814c3","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"Bajada\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"Subida\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":1140,"wires":[["94caf174.54a0a"]]},{"id":"94caf174.54a0a","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":16,"width":7,"height":1,"name":"Barrera","label":"<b><font size = 4>Barrera: </font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":560,"y":1140,"wires":[]},{"id":"83f1b193.d3b3f","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":740,"wires":[["7b01f0d1.f1097"]]},{"id":"90464d0f.69c65","type":"inject","z":"3d887dd.83c4582","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":780,"wires":[["7b01f0d1.f1097"]]},{"id":"7b01f0d1.f1097","type":"function","z":"3d887dd.83c4582","name":"Color","func":"if (msg.payload === false)\n    {\n    msg.text_colour = \"red\";\n    msg.topic = \"OFF\"\n    }\nelse\n    {\n    msg.text_colour = \"green\";\n    msg.topic = \"ON\"\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":760,"wires":[["715aad34.c96ff4"]]},{"id":"715aad34.c96ff4","type":"ui_text","z":"3d887dd.83c4582","group":"eb730bd0.25cf08","order":9,"width":7,"height":1,"name":"Maquina Clima 3","label":"<b><font size = 4>Máquina Clima 3: </font></b>","format":"<b><font size = 4><font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","layout":"row-spread","x":590,"y":760,"wires":[]},{"id":"541fd8bd.34e0f8","type":"inject","z":"90b7ee2a.689b3","name":"Mas Almar - Tanque 1","topic":"Cuba 1","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":190,"y":620,"wires":[["f152c2c.3d88e4"]]},{"id":"4eacb6d8.84f718","type":"inject","z":"90b7ee2a.689b3","name":"Mas Almar - Tanque 2","topic":"Cuba 2","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":190,"y":680,"wires":[["f152c2c.3d88e4"]]},{"id":"f152c2c.3d88e4","type":"random","z":"90b7ee2a.689b3","name":"","low":"2","high":"6","inte":"false","property":"payload","x":560,"y":660,"wires":[["934e49a6.5c98b8"]]},{"id":"934e49a6.5c98b8","type":"ui_chart","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":15,"width":15,"height":4,"label":"Cubas Mas Almar ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":660,"wires":[[]]},{"id":"7f607fc6.f748","type":"inject","z":"90b7ee2a.689b3","name":"Mas Gener - Tanque 1","topic":"Cuba 1","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":190,"y":760,"wires":[["d8f6e61b.a38cc8"]]},{"id":"aa28b28c.63bd1","type":"inject","z":"90b7ee2a.689b3","name":"Mas Gener - Tanque 2","topic":"Cuba 2","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":190,"y":820,"wires":[["d8f6e61b.a38cc8"]]},{"id":"d8f6e61b.a38cc8","type":"random","z":"90b7ee2a.689b3","name":"","low":"2","high":"6","inte":"false","property":"payload","x":560,"y":800,"wires":[["a74af1ab.81edd"]]},{"id":"a74af1ab.81edd","type":"ui_chart","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":16,"width":15,"height":4,"label":"Cubas Mas Gener","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":800,"wires":[[]]},{"id":"69e53a2d.483f94","type":"inject","z":"90b7ee2a.689b3","name":"Mas Colom - Tanque 1","topic":"Cuba 1","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":190,"y":900,"wires":[["591692f1.0c880c"]]},{"id":"48c1770d.94f608","type":"inject","z":"90b7ee2a.689b3","name":"Mas Colom - Tanque 2","topic":"Cuba 2","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":190,"y":960,"wires":[["591692f1.0c880c"]]},{"id":"591692f1.0c880c","type":"random","z":"90b7ee2a.689b3","name":"","low":"2","high":"6","inte":"false","property":"payload","x":560,"y":940,"wires":[["d44b2b8b.6541e8"]]},{"id":"d44b2b8b.6541e8","type":"ui_chart","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":17,"width":15,"height":4,"label":"Cubas Mas Colom","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":940,"wires":[[]]},{"id":"3e80eb68.7ba814","type":"inject","z":"90b7ee2a.689b3","name":"Can Siset - Tanque 1","topic":"Cuba 1","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":180,"y":1040,"wires":[["900019d2.662ae8"]]},{"id":"467bdb5a.1a61d4","type":"inject","z":"90b7ee2a.689b3","name":"Can Siset - Tanque 2","topic":"Cuba 2","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":180,"y":1100,"wires":[["900019d2.662ae8"]]},{"id":"900019d2.662ae8","type":"random","z":"90b7ee2a.689b3","name":"","low":"2","high":"6","inte":"false","property":"payload","x":560,"y":1080,"wires":[["5d435a8.59642a4"]]},{"id":"5d435a8.59642a4","type":"ui_chart","z":"90b7ee2a.689b3","name":"","group":"240282b4.1e6ece","order":19,"width":15,"height":4,"label":"Cubas Can Siset","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":1080,"wires":[[]]},{"id":"e6288ee8.13a86","type":"ui_ui_control","z":"efeecbc4.730d28","name":"","events":"all","x":580,"y":640,"wires":[[]]},{"id":"81134ec6.5df53","type":"change","z":"efeecbc4.730d28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":msg.topic}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":640,"wires":[["e6288ee8.13a86"]]},{"id":"ab935199.a5b0b","type":"ui_button","z":"efeecbc4.730d28","name":"Camiones","group":"1a8068c5.77aff7","order":25,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Camiones","color":"#14BFF8","bgcolor":"white","icon":"local_shipping","payload":"","payloadType":"str","topic":"Camiones","x":200,"y":640,"wires":[["81134ec6.5df53"]]},{"id":"8543d1d7.53703","type":"mqtt in","z":"efeecbc4.730d28","name":"","topic":"24:0A:C4:5C:31:48/small_json","qos":"2","datatype":"auto","broker":"16c725ac.25d72a","x":160,"y":480,"wires":[["4a04b150.87ee2"]]},{"id":"4a04b150.87ee2","type":"json","z":"efeecbc4.730d28","name":"","property":"payload","action":"","pretty":false,"x":370,"y":480,"wires":[["3d5c62b2.3d565e"]]},{"id":"1d8f5a41.71e396","type":"debug","z":"685b23f6.ffabfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":200,"wires":[]},{"id":"8d31076c.a277b8","type":"json","z":"685b23f6.ffabfc","name":"","property":"payload","action":"","pretty":false,"x":450,"y":200,"wires":[["584437ad.7e3238"]]},{"id":"dcff8c98.a634","type":"mqtt in","z":"685b23f6.ffabfc","name":"","topic":"24:0A:C4:5C:31:48/small_json","qos":"2","datatype":"auto","broker":"16c725ac.25d72a","x":220,"y":200,"wires":[["8d31076c.a277b8"]]},{"id":"584437ad.7e3238","type":"change","z":"685b23f6.ffabfc","name":"","rules":[{"t":"move","p":"payload.values1.t","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":200,"wires":[["1d8f5a41.71e396","f5987728.9d7918"]]},{"id":"a6ba1a7.92408e8","type":"mqtt in","z":"685b23f6.ffabfc","name":"","topic":"24:0A:C4:5C:31:48/small_json","qos":"2","datatype":"auto","broker":"16c725ac.25d72a","x":120,"y":360,"wires":[["35e74c04.cca584","133912d4.dcd36d"]]},{"id":"35e74c04.cca584","type":"json","z":"685b23f6.ffabfc","name":"","property":"payload","action":"","pretty":false,"x":330,"y":360,"wires":[["8e5c3732.ce1078"]]},{"id":"8e5c3732.ce1078","type":"function","z":"685b23f6.ffabfc","name":"","func":"var d = msg.payload.values1.d; \nif (d >= 30) {\n    d=30 }\n\n\nmsg.payload = d\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["36a8bce4.d8bf34"]]},{"id":"133912d4.dcd36d","type":"debug","z":"685b23f6.ffabfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":320,"wires":[]},{"id":"36a8bce4.d8bf34","type":"range","z":"685b23f6.ffabfc","minin":"0","maxin":"30","minout":"10000","maxout":"0","action":"scale","round":false,"property":"payload","name":"","x":720,"y":360,"wires":[["edc97dc5.52fbe"]]},{"id":"3d5c62b2.3d565e","type":"change","z":"efeecbc4.730d28","name":"","rules":[{"t":"move","p":"payload.values1.t","pt":"msg","to":"temperature","tot":"msg"},{"t":"set","p":"payload.values.d","pt":"msg","to":"distance","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":480,"wires":[["e7342b5.1ff1ad8"]]},{"id":"b989799d.db5cb8","type":"debug","z":"efeecbc4.730d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":380,"wires":[]},{"id":"97943df0.34ab7","type":"function","z":"efeecbc4.730d28","name":"","func":"var d = msg.payload.values1.d; \nif (d >= 30) {\n    d=30 }\n\n\nmsg.payload = d\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["320638ad.9c77f8"]]},{"id":"320638ad.9c77f8","type":"range","z":"efeecbc4.730d28","minin":"0","maxin":"30","minout":"10000","maxout":"0","action":"scale","round":false,"property":"payload","name":"","x":920,"y":480,"wires":[[]]},{"id":"dee26762.9e2d58","type":"mqtt out","z":"3d887dd.83c4582","name":"","topic":"24:6F:28:87:F0:88/LED","qos":"","retain":"","broker":"16c725ac.25d72a","x":810,"y":920,"wires":[]},{"id":"eb00e55c.40e698","type":"debug","z":"3d4c120c.7a292e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":860,"wires":[]},{"id":"a653b0cb.bcfcb","type":"function","z":"3d4c120c.7a292e","name":"option question","func":"context.global.keyboard = {'pending_question': true};\n\nvar question = 'Ingrese Contraseña';\n\nmsg.payload.content = question;\n\nreturn msg;\n\n\n","outputs":"1","noerr":0,"x":540,"y":860,"wires":[["eb00e55c.40e698","43e49476.6b21cc"]]},{"id":"df609b24.886fc8","type":"function","z":"3d4c120c.7a292e","name":"reply to message","func":"if(context.global.keyboard.pending_question){\n    setTimeout(function(){\n        context.global.keyboard.pending_question = false;\n    }, 1000);\n    \n    msg.payload.type = 'message';\n    msg.payload.content = 'Contraseña Correcta';\n    msg.payload.options = {\n        'reply_to_message_id': msg.payload.messageId\n    }\n\n  return msg;","outputs":"1","noerr":4,"x":550,"y":920,"wires":[["43e49476.6b21cc"]]},{"id":"43e49476.6b21cc","type":"telegram sender","z":"3d4c120c.7a292e","name":"","bot":"24783e84.a23a82","x":790,"y":940,"wires":[[]]},{"id":"bb85784e.46ed18","type":"function","z":"3d4c120c.7a292e","name":"option question","func":"context.global.keyboard = {'pending_report': true};\n\nvar question = 'Are you sure you want to recieve the report?';\n\nvar answers = [\n      ['abcd'],\n     \n    ];\n\nvar options = {\n  'reply_markup': {\n    'keyboard': answers,\n    'resize_keyboard': true, \n    'one_time_keyboard': true\n  }\n};\n\nmsg.payload.content = question;\nmsg.payload.options = options;\n\nreturn msg;","outputs":"1","noerr":0,"x":520,"y":1060,"wires":[["df9c72f.7bfe69"]]},{"id":"e2310c34.bf071","type":"telegram command","z":"3d4c120c.7a292e","name":"","command":"/cerrar","bot":"24783e84.a23a82","strict":false,"x":330,"y":1080,"wires":[["bb85784e.46ed18"],["788c7a42.f7b934"]]},{"id":"788c7a42.f7b934","type":"function","z":"3d4c120c.7a292e","name":"response with file","func":"var simulated_timeout = 2000;\n\nif(context.global.keyboard.pending_report){\n    setTimeout(function(){\n        context.global.keyboard.pending_report = false;\n    }, 1000);\n    \n    if(msg.payload.content == 'abcd'){\n        msg.payload.type = 'message';\n        msg.payload.content = 'Abriendo puerta...';\n        node.send(msg);\n\n   \n}","outputs":1,"noerr":4,"x":530,"y":1100,"wires":[["df9c72f.7bfe69"]]},{"id":"df9c72f.7bfe69","type":"telegram sender","z":"3d4c120c.7a292e","name":"","bot":"24783e84.a23a82","x":750,"y":1080,"wires":[[]]},{"id":"24f154a3.e4b58c","type":"function","z":"3d4c120c.7a292e","name":"option question","func":"context.global.keyboard = {'pending_report': true};\n\nvar question = 'De que Granja proviene?';\n\nvar answers = [\n      ['Mas Almar'],\n      ['Can Siset'],\n      ['Mas Badosa'],\n      ['Mas Gender'],\n      ['Mas Colom'],\n    ];\nvar passwrod = 'abcd';\nvar options = {\n  'reply_markup': {\n    'keyboard': answers,\n    'resize_keyboard': true, \n    'one_time_keyboard': true\n  }\n\n};\n\nmsg.payload.content = question;\nmsg.payload.options = options;\n\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":520,"y":1240,"wires":[["b3be7576.43e838"]]},{"id":"4be342c6.8ba83c","type":"telegram command","z":"3d4c120c.7a292e","name":"","command":"/hola","bot":"24783e84.a23a82","strict":false,"x":330,"y":1260,"wires":[["24f154a3.e4b58c"],["42a6e05c.26dc6"]]},{"id":"42a6e05c.26dc6","type":"function","z":"3d4c120c.7a292e","name":"response with file","func":"var simulated_timeout = 2000;\n\nif(context.global.keyboard.pending_report){\n    setTimeout(function(){\n        context.global.keyboard.pending_report = false;\n    }, 1000);\n    \n    if(msg.payload.content == 'Mas Almar'){\n        msg.payload.type = 'message';\n        msg.payload.content = 'Ingrese Contraseña';\n        node.send(msg);\n    }    \n    if(msg.payload.content == 'Can Siset'){\n        msg.payload.type = 'message';\n        msg.payload.content = 'Ingrese Contraseña';\n    \n        //if(msg.payload.content == 'abcd'){\n        //msg.payload.type = 'message';\n        //msg.payload.content = 'abriendo puerta';\n        node.send(msg);\n        \n    } \n    \n     if(msg.payload.content == 'Mas badosa'){\n        msg.payload.type = 'message';\n        msg.payload.content = 'Ingrese Contraseña';\n        node.send(msg);\n    }  \n     if(msg.payload.content == 'Mas Gender'){\n        msg.payload.type = 'message';\n        msg.payload.content = 'Ingrese Contraseña';\n        node.send(msg);\n    } \n\n}","outputs":1,"noerr":0,"x":530,"y":1280,"wires":[["b3be7576.43e838"]]},{"id":"b3be7576.43e838","type":"telegram sender","z":"3d4c120c.7a292e","name":"","bot":"24783e84.a23a82","x":750,"y":1260,"wires":[[]]},{"id":"de1d925e.2ce21","type":"function","z":"3d4c120c.7a292e","name":"response with file","func":"var simulated_timeout = 2000;\n\nif(context.global.keyboard.pending_report){\n    setTimeout(function(){\n        context.global.keyboard.pending_report = false;\n    }, 1000);\n    \n    if(msg.payload.content2 == 'abcd'){\n        msg.payload.type = 'message';\n        msg.payload.content = 'Abriendo Puerta...';\n        node.send(msg);\n\n        setTimeout(function(){\n            msg.payload.type = 'document';\n            msg.payload.content = '/data/test.json';\n            node.send(msg);\n        }, simulated_timeout);\n        \n    }else{\n        msg.payload.type = 'message';\n        msg.payload.content = 'Ok.';\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":530,"y":1320,"wires":[[]]},{"id":"584e3c6c.838d04","type":"mqtt out","z":"3d4c120c.7a292e","name":"","topic":"24:0A:C4:5C:31:48/LED","qos":"","retain":"","broker":"700cc2d3.01b8cc","x":570,"y":200,"wires":[]},{"id":"b853fa7c.47dae8","type":"inject","z":"3d4c120c.7a292e","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["584e3c6c.838d04"]]},{"id":"d6eb3e6e.16257","type":"inject","z":"3d4c120c.7a292e","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["584e3c6c.838d04"]]},{"id":"a7de1593.25efb8","type":"function","z":"3d4c120c.7a292e","name":"","func":"var status = flow.get(\"abrir\") || \"Abierta\"\n\nif (status == \"Activada\")\n{\n    msg.payload.content =  \"la puerta se esta abriendo\"\n    \n}\n\nelse \n\n{ \n    msg.payload.content = \"la puerta esta cerrada\"\n}  \n    \n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["5de42c5a.4499f4"]]},{"id":"5de42c5a.4499f4","type":"mqtt out","z":"3d4c120c.7a292e","name":"","topic":"24:0A:C4:5C:31:48/LED","qos":"","retain":"","broker":"700cc2d3.01b8cc","x":610,"y":320,"wires":[]},{"id":"862ea8f8.a3a9c8","type":"function","z":"3d4c120c.7a292e","name":"","func":"var status = flow.get(\"abrir\") || \"Abierta\"\n\nif (status == \"Activada\")\n{\n    msg.payload.content =  \"la puerta se esta abriendo\"\n    \n}\n\nelse \n\n{ \n    msg.payload.content = \"la puerta esta cerrada\"\n}  \n    \n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["de15360b.e1a998"]]},{"id":"de15360b.e1a998","type":"telegram sender","z":"3d4c120c.7a292e","name":"","bot":"24783e84.a23a82","x":610,"y":380,"wires":[[]]},{"id":"5dc4e5b9.211e6c","type":"inject","z":"3d4c120c.7a292e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[[]]},{"id":"a3616e84.6100b","type":"inject","z":"3d4c120c.7a292e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[[]]},{"id":"c6c6913e.33813","type":"ui_switch","z":"3d4c120c.7a292e","name":"Ventilador","label":"<b><font size = 6>Estado Ventilador: <font color= {{msg.text_colour}}>{{msg.topic}}</font></b>","tooltip":"Click me to turn on/off","group":"6df7a873.990458","order":15,"width":11,"height":1,"passthru":false,"decouple":"false","topic":"s1","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio_button_checked","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"radio_button_unchecked","offcolor":"red","x":475,"y":540,"wires":[["3d5c1e4b.e20e22"]],"l":false},{"id":"3d5c1e4b.e20e22","type":"debug","z":"3d4c120c.7a292e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":540,"wires":[]},{"id":"a345c8bc.1d3428","type":"telegram command","z":"3d4c120c.7a292e","name":"","command":"/abrir","bot":"24783e84.a23a82","strict":false,"x":190,"y":600,"wires":[["d55593ab.0d15c"],[]]},{"id":"d55593ab.0d15c","type":"function","z":"3d4c120c.7a292e","name":"","func":"var abrir = 'Abriendo puerta..';\n\nmsg.payload.content = abrir;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["476b0fd3.5b4bb","7b6f901b.8470d"]]},{"id":"7b6f901b.8470d","type":"mqtt out","z":"3d4c120c.7a292e","name":"","topic":"24:0A:C4:5C:31:48/LED","qos":"","retain":"","broker":"700cc2d3.01b8cc","x":590,"y":640,"wires":[]},{"id":"476b0fd3.5b4bb","type":"telegram sender","z":"3d4c120c.7a292e","name":"","bot":"24783e84.a23a82","x":590,"y":580,"wires":[[]]},{"id":"5cbd42fc.c0f8ac","type":"telegram command","z":"3d887dd.83c4582","name":"","command":"/abrir","bot":"dae73358.23ce7","strict":false,"hasresponse":false,"x":150,"y":1020,"wires":[["d6778d6d.ff535","34531f6f.3d5ad","1bddb716.4a8d29"]]},{"id":"d6778d6d.ff535","type":"function","z":"3d887dd.83c4582","name":"","func":"var abrir = 'Abriendo puerta..';\n\nif (msg.payload.content = abrir) \n{  'Abriendo puerta..' \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1020,"wires":[["da38f4a2.0ac3c8"]]},{"id":"da38f4a2.0ac3c8","type":"telegram sender","z":"3d887dd.83c4582","name":"","bot":"dae73358.23ce7","x":670,"y":1020,"wires":[[]]},{"id":"1bddb716.4a8d29","type":"debug","z":"3d887dd.83c4582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":1060,"wires":[]},{"id":"34531f6f.3d5ad","type":"change","z":"3d887dd.83c4582","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":940,"wires":[["dee26762.9e2d58"]]},{"id":"88b3dd16.454b","type":"telegram command","z":"3d887dd.83c4582","name":"","command":"/cerrar","bot":"dae73358.23ce7","strict":false,"hasresponse":false,"x":150,"y":940,"wires":[["3a6c776a.019fc8"]]},{"id":"d9ec13dc.9a3a","type":"change","z":"3d887dd.83c4582","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":900,"wires":[["dee26762.9e2d58"]]},{"id":"3a6c776a.019fc8","type":"function","z":"3d887dd.83c4582","name":"","func":"\nvar cerrar = 'Cerrando puerta..';\n\n if (msg.payload.content = cerrar) \n{  'Cerrando puerta..' \n}  \n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":940,"wires":[["d9ec13dc.9a3a","da38f4a2.0ac3c8"]]}]